openapi: 3.1.0
info:
  title: BitRouter API
  description: |-
    The BitRouter API exposes the routing proxy and account-bound services of the hosted BitRouter Cloud node.

    ## Base URL

    ```
    https://api.bitrouter.ai
    ```

    Most endpoints are served under `/v1`. The healthcheck (`/ping`) lives at the root.

    ## Authentication

    Routing endpoints (`/v1/chat/completions`, `/v1/messages`, `/v1/responses`, `/v1beta/models/{model_action}`) accept either:

    - `x-api-key: <api-key>` — Anthropic-compatible header.
    - `Authorization: Bearer <api-key | JWT>` — issued via the BitRouter console or minted from a wallet (CAIP-10 issuer).

    Discovery endpoints (`/v1/models`, `/v1/providers`, `/v1/byok/encryption-pubkey`), the healthcheck, and the scraper-facing `/metrics` are public.

    ## Multi-Protocol Routing

    BitRouter accepts requests in the native format of each supported provider:

    - **OpenAI Chat Completions** — `/v1/chat/completions`
    - **OpenAI Responses** — `/v1/responses`
    - **Anthropic Messages** — `/v1/messages`
    - **Google Generative Language** — `/v1beta/models/{model}:generateContent`

    The router resolves the requested model to a configured upstream provider, forwards the request, and returns the response in the same provider format.
  version: 1.0.0
servers:
- url: https://api.bitrouter.ai
  description: Production
paths:
  /ping:
    get:
      tags:
      - Health
      summary: Liveness check
      description: Returns `200 OK` with an empty body if the node is up.
      operationId: ping
      responses:
        '200':
          description: Node is up.
  /v1/models:
    get:
      tags:
      - Discovery
      summary: List available models
      description: Returns all models available across configured providers. Supports optional query filters for provider, model ID substring, and modality.
      operationId: listModels
      parameters:
      - in: query
        name: provider
        description: Filter by provider name (exact match against the model's `providers` array).
        schema:
          type: string
        style: form
      - in: query
        name: id
        description: Filter by model ID (case-insensitive substring match).
        schema:
          type: string
        style: form
      - in: query
        name: input_modality
        description: Filter by supported input modality (e.g. `text`, `image`).
        schema:
          type: string
        style: form
      - in: query
        name: output_modality
        description: Filter by supported output modality.
        schema:
          type: string
        style: form
      responses:
        '200':
          description: List of models.
          content:
            application/json:
              schema:
                $schema: https://json-schema.org/draft/2020-12/schema
                title: ModelListResponse
                description: |-
                  Envelope shape for `GET /v1/models`. Wraps the catalogue in `{ "data": [...] }`
                  so future top-level fields (pagination cursors, etc.) can be added without a
                  breaking change.
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/$defs/ModelResponse'
                required:
                - data
                $defs:
                  ContextTier:
                    description: |-
                      A higher context-pricing bracket. Some upstreams bill a model at a steeper
                      rate once the prompt crosses a context-length threshold (e.g. one rate up
                      to 128k input tokens, a higher one between 128k and 256k). The selected
                      bracket's rates apply to the **whole** request — a step function, not
                      graduated marginal brackets — and the bracket is chosen by the request's
                      total input (prompt) token count.

                      Upstreams that publish such tiers:
                      - Alibaba Qwen Model Studio:
                        <https://help.aliyun.com/en/model-studio/models>
                      - Google Gemini API long-context pricing:
                        <https://ai.google.dev/gemini-api/docs/pricing>
                    type: object
                    properties:
                      above_input_tokens:
                        description: |-
                          **Exclusive** lower bound on total input tokens. A request whose input
                          size is strictly greater than this is eligible for the bracket; a
                          request exactly at the bound stays in the lower bracket (so a base
                          bracket documented as "≤ 128k" is expressed as a tier with
                          `above_input_tokens: 128000`).
                        type: integer
                        format: uint64
                        minimum: 0
                      input_tokens:
                        $ref: '#/$defs/InputTokenPricing'
                      output_tokens:
                        $ref: '#/$defs/OutputTokenPricing'
                    required:
                    - above_input_tokens
                  InputTokenPricing:
                    description: Input token pricing per million tokens.
                    type: object
                    properties:
                      cache_read:
                        description: Cost per million cache-read input tokens.
                        type:
                        - number
                        - 'null'
                        format: double
                      cache_write:
                        description: Cost per million cache-write input tokens.
                        type:
                        - number
                        - 'null'
                        format: double
                      no_cache:
                        description: Cost per million non-cached input tokens.
                        type:
                        - number
                        - 'null'
                        format: double
                  ModelPricing:
                    description: |-
                      Token pricing per million tokens for a model.

                      `input_tokens`/`output_tokens` are the **base bracket**: the rates for the
                      lowest context range and the fallback when no [`context_tiers`] entry
                      applies. When `context_tiers` is empty the pricing is a single flat rate
                      for every request size (the historical behaviour).

                      [`context_tiers`]: ModelPricing::context_tiers
                    type: object
                    properties:
                      context_tiers:
                        description: |-
                          Optional higher context brackets. Empty ⇒ flat pricing. The registry
                          validator enforces ascending, unique `above_input_tokens` and a
                          complete base bracket, so the per-request resolver does not depend on
                          list order.
                        type: array
                        items:
                          $ref: '#/$defs/ContextTier'
                      input_tokens:
                        $ref: '#/$defs/InputTokenPricing'
                      output_tokens:
                        $ref: '#/$defs/OutputTokenPricing'
                  ModelResponse:
                    type: object
                    properties:
                      capabilities:
                        description: |-
                          Union of inference capabilities advertised across this model's providers
                          (e.g. `structured_outputs`). Omitted when empty.
                        type: array
                        items:
                          type: string
                      description:
                        type:
                        - string
                        - 'null'
                      id:
                        type: string
                      input_modalities:
                        type: array
                        items:
                          type: string
                      max_input_tokens:
                        type:
                        - integer
                        - 'null'
                        format: uint64
                        minimum: 0
                      max_output_tokens:
                        type:
                        - integer
                        - 'null'
                        format: uint64
                        minimum: 0
                      name:
                        type:
                        - string
                        - 'null'
                      output_modalities:
                        type: array
                        items:
                          type: string
                      pricing:
                        anyOf:
                        - $ref: '#/$defs/ModelPricing'
                        - type: 'null'
                      providers:
                        $ref: '#/$defs/ProvidersSummary'
                    required:
                    - id
                    - input_modalities
                    - output_modalities
                    - capabilities
                    - providers
                  OutputTokenPricing:
                    description: Output token pricing per million tokens.
                    type: object
                    properties:
                      audio:
                        description: Cost per million audio output tokens. Reserved — see `image`.
                        type:
                        - number
                        - 'null'
                        format: double
                      image:
                        description: |-
                          Cost per million image output tokens. Reserved — not yet wired
                          into `calculate_charge_micro_usd`.
                        type:
                        - number
                        - 'null'
                        format: double
                      reasoning:
                        description: Cost per million reasoning output tokens.
                        type:
                        - number
                        - 'null'
                        format: double
                      text:
                        description: Cost per million text output tokens.
                        type:
                        - number
                        - 'null'
                        format: double
                  ProvidersSummary:
                    type: object
                    properties:
                      total_online:
                        type: integer
                        format: uint
                        minimum: 0
                    required:
                    - total_online
  /v1/providers:
    get:
      tags:
      - Discovery
      summary: List providers
      description: Public registry of providers the node knows about, sourced from the upstream `bitrouter-providers` builtins. Used by the console to render the BYOK page without hard-coding the list.
      operationId: listProviders
      responses:
        '200':
          description: List of providers.
          content:
            application/json:
              schema:
                $schema: https://json-schema.org/draft/2020-12/schema
                title: ProviderListResponse
                description: |-
                  Envelope for `GET /v1/providers`. Same `{ "data": [...] }` shape as
                  `/v1/models` so the two listings stay consistent for SDK consumers.
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/$defs/ProviderCatalogEntry'
                required:
                - data
                $defs:
                  ContextTier:
                    description: |-
                      A higher context-pricing bracket. Some upstreams bill a model at a steeper
                      rate once the prompt crosses a context-length threshold (e.g. one rate up
                      to 128k input tokens, a higher one between 128k and 256k). The selected
                      bracket's rates apply to the **whole** request — a step function, not
                      graduated marginal brackets — and the bracket is chosen by the request's
                      total input (prompt) token count.

                      Upstreams that publish such tiers:
                      - Alibaba Qwen Model Studio:
                        <https://help.aliyun.com/en/model-studio/models>
                      - Google Gemini API long-context pricing:
                        <https://ai.google.dev/gemini-api/docs/pricing>
                    type: object
                    properties:
                      above_input_tokens:
                        description: |-
                          **Exclusive** lower bound on total input tokens. A request whose input
                          size is strictly greater than this is eligible for the bracket; a
                          request exactly at the bound stays in the lower bracket (so a base
                          bracket documented as "≤ 128k" is expressed as a tier with
                          `above_input_tokens: 128000`).
                        type: integer
                        format: uint64
                        minimum: 0
                      input_tokens:
                        $ref: '#/$defs/InputTokenPricing'
                      output_tokens:
                        $ref: '#/$defs/OutputTokenPricing'
                    required:
                    - above_input_tokens
                  InputTokenPricing:
                    description: Input token pricing per million tokens.
                    type: object
                    properties:
                      cache_read:
                        description: Cost per million cache-read input tokens.
                        type:
                        - number
                        - 'null'
                        format: double
                      cache_write:
                        description: Cost per million cache-write input tokens.
                        type:
                        - number
                        - 'null'
                        format: double
                      no_cache:
                        description: Cost per million non-cached input tokens.
                        type:
                        - number
                        - 'null'
                        format: double
                  ModelPricing:
                    description: |-
                      Token pricing per million tokens for a model.

                      `input_tokens`/`output_tokens` are the **base bracket**: the rates for the
                      lowest context range and the fallback when no [`context_tiers`] entry
                      applies. When `context_tiers` is empty the pricing is a single flat rate
                      for every request size (the historical behaviour).

                      [`context_tiers`]: ModelPricing::context_tiers
                    type: object
                    properties:
                      context_tiers:
                        description: |-
                          Optional higher context brackets. Empty ⇒ flat pricing. The registry
                          validator enforces ascending, unique `above_input_tokens` and a
                          complete base bracket, so the per-request resolver does not depend on
                          list order.
                        type: array
                        items:
                          $ref: '#/$defs/ContextTier'
                      input_tokens:
                        $ref: '#/$defs/InputTokenPricing'
                      output_tokens:
                        $ref: '#/$defs/OutputTokenPricing'
                  OutputTokenPricing:
                    description: Output token pricing per million tokens.
                    type: object
                    properties:
                      audio:
                        description: Cost per million audio output tokens. Reserved — see `image`.
                        type:
                        - number
                        - 'null'
                        format: double
                      image:
                        description: |-
                          Cost per million image output tokens. Reserved — not yet wired
                          into `calculate_charge_micro_usd`.
                        type:
                        - number
                        - 'null'
                        format: double
                      reasoning:
                        description: Cost per million reasoning output tokens.
                        type:
                        - number
                        - 'null'
                        format: double
                      text:
                        description: Cost per million text output tokens.
                        type:
                        - number
                        - 'null'
                        format: double
                  ProviderAggregateMetrics:
                    type: object
                    properties:
                      cache_hit_rate:
                        type: number
                        format: double
                      p50_latency_ms:
                        description: |-
                          Request-weighted average of per-model p50 latencies. Not a true
                          cross-bucket p50 (that would need a separate query), but cheap
                          and close enough for a discovery panel.
                        type: integer
                        format: uint64
                        minimum: 0
                      request_count:
                        type: integer
                        format: uint64
                        minimum: 0
                      success_rate:
                        description: |-
                          Successful responses divided by (success + provider_error +
                          timeout). 0.0 when no scored requests fell in the window.
                        type: number
                        format: double
                    required:
                    - request_count
                    - success_rate
                    - p50_latency_ms
                    - cache_hit_rate
                  ProviderCatalogEntry:
                    description: One provider as it appears to public discovery clients.
                    type: object
                    properties:
                      aggregate:
                        $ref: '#/$defs/ProviderAggregateMetrics'
                      byok:
                        description: |-
                          `true` when a caller may bring their own key for this provider
                          (registry `byok`, default true — every publicly-registerable
                          upstream). `false` for non-self-registerable providers (the
                          platform pool / aggregators), which route platform-only.
                        type: boolean
                      community:
                        description: |-
                          `true` for an unaffiliated community reseller; `false` (default) for
                          a first-party or official upstream.
                        type: boolean
                      id:
                        description: 'Stable public handle: the provider''s registry name.'
                        type: string
                      metrics_window_seconds:
                        type: integer
                        format: uint64
                        minimum: 0
                      models:
                        type: array
                        items:
                          $ref: '#/$defs/ProviderModelCatalogEntry'
                      name:
                        description: |-
                          Human-readable provider name. Always present — providers are no
                          longer anonymized.
                        type: string
                      rate_limit:
                        $ref: '#/$defs/ProviderRateLimit'
                      status:
                        $ref: '#/$defs/ProviderStatus'
                    required:
                    - id
                    - name
                    - community
                    - byok
                    - status
                    - rate_limit
                    - metrics_window_seconds
                    - aggregate
                    - models
                  ProviderModelCatalogEntry:
                    type: object
                    properties:
                      id:
                        description: |-
                          Canonical model id (e.g. `claude-sonnet-4-6`). The vendor's own
                          `provider_model_id` is deliberately not exposed.
                        type: string
                      metrics:
                        $ref: '#/$defs/ProviderModelMetrics'
                      pricing:
                        $ref: '#/$defs/ModelPricing'
                    required:
                    - id
                    - pricing
                    - metrics
                  ProviderModelMetrics:
                    type: object
                    properties:
                      p50_latency_ms:
                        type: integer
                        format: uint64
                        minimum: 0
                      request_count:
                        type: integer
                        format: uint64
                        minimum: 0
                      success_rate:
                        type: number
                        format: double
                    required:
                    - request_count
                    - success_rate
                    - p50_latency_ms
                  ProviderRateLimit:
                    type: object
                    properties:
                      current_rpm:
                        description: In-process sliding-window admission count for this provider.
                        type: integer
                        format: uint32
                        minimum: 0
                      declared_rpm:
                        description: |-
                          Provider-wide declared RPM from the wildcard `*` pattern in
                          `rate_limits`. Omitted when the provider's YAML declares no
                          wildcard entry — per-model overrides are intentionally not
                          surfaced, since the response shape is one rate per provider.
                        type:
                        - integer
                        - 'null'
                        format: uint32
                        minimum: 0
                    required:
                    - current_rpm
                  ProviderStatus:
                    description: Provider lifecycle state.
                    type: string
                    enum:
                    - active
                    - staging
                    - suspended
                    - withdrawn
  /v1/byok/encryption-pubkey:
    get:
      tags:
      - BYOK
      summary: Get BYOK sealed-box public key
      description: |-
        Returns the node's current X25519 sealed-box public key plus its `kek_id` fingerprint. The console encrypts the user's provider key against this pubkey before storing the ciphertext — the node never sees plaintext on the write path.

        Honors `If-None-Match: "<kek_id>"` for cheap caching, returning `304 Not Modified` when the cached fingerprint still matches.
      operationId: getEncryptionPubkey
      parameters:
      - in: header
        name: If-None-Match
        description: Quoted `kek_id` from a prior response.
        schema:
          type: string
        style: simple
      responses:
        '200':
          description: Current sealed-box public key.
          headers:
            ETag:
              description: Quoted `kek_id` of the returned key.
              style: simple
              schema:
                type: string
            Cache-Control:
              description: '`private, max-age=300` — encourages a 5-minute client cache.'
              style: simple
              schema:
                type: string
          content:
            application/json:
              schema:
                $schema: https://json-schema.org/draft/2020-12/schema
                title: EncryptionPubkeyResponse
                description: |-
                  Response body for `GET /v1/byok/encryption-pubkey`. Carries the current
                  sealed-box public key plus its fingerprint so the console can encrypt
                  provider keys against it.
                type: object
                properties:
                  kek_id:
                    description: |-
                      Fingerprint of the current sealed-box keypair. Pin this when caching;
                      pass it back via `If-None-Match` to short-circuit on `304 Not Modified`.
                    type: string
                  public_key:
                    description: |-
                      Base64-encoded X25519 public key. Use it with libsodium's `crypto_box_seal`
                      (or any sealed-box implementation) to encrypt provider keys client-side.
                    type: string
                required:
                - kek_id
                - public_key
        '304':
          description: Cached `kek_id` still matches — body is empty.
  /metrics:
    get:
      tags:
      - Observability
      summary: Prometheus metrics scrape
      description: |-
        Returns Prometheus-format metrics for ingestion by a scraper. Not intended for human callers — point Prometheus, Grafana Agent, or any OpenMetrics-compatible collector at this endpoint.

        Responds `404 Not Found` when the node was built or configured without a metrics renderer; scrapers can use that as a feature probe.
      operationId: getMetrics
      responses:
        '200':
          description: Prometheus-format metrics — counters, gauges, and histograms covering routing decisions, upstream latency, and credit settlement.
          content:
            text/plain:
              schema:
                description: Prometheus text-exposition format (version 0.0.4).
                type: string
        '404':
          description: Metrics renderer is not configured on this node — scrapers can use the 404 to probe whether `/metrics` is enabled.
  /v1/namespaces:
    get:
      tags:
      - Management
      summary: List the caller's namespaces
      description: |-
        Every live namespace owned by the calling user, oldest first.

        _Requires the `namespace:read` scope._
      operationId: listNamespaces
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                type: object
        '401':
          description: Credential missing or did not verify.
          content:
            application/json:
              schema:
                $schema: https://json-schema.org/draft/2020-12/schema
                title: ErrorResponseDoc
                description: |-
                  MIRROR: the JSON shape `bitrouter_sdk::error::BitrouterError` serialises into
                  (`{ "error": { "code": ..., "message": ... } }`). Cloud handlers map to
                  this envelope via `BitrouterError::into_response`.
                type: object
                properties:
                  error:
                    $ref: '#/$defs/ErrorBodyDoc'
                required:
                - error
                $defs:
                  ErrorBodyDoc:
                    type: object
                    properties:
                      code:
                        description: Machine-readable error code (e.g. `unauthorized`, `bad_request`).
                        type:
                        - string
                        - 'null'
                      message:
                        description: Human-readable error description.
                        type: string
                    required:
                    - message
        '403':
          description: Credential is valid but lacks the required scope.
          content:
            application/json:
              schema:
                $schema: https://json-schema.org/draft/2020-12/schema
                title: ErrorResponseDoc
                description: |-
                  MIRROR: the JSON shape `bitrouter_sdk::error::BitrouterError` serialises into
                  (`{ "error": { "code": ..., "message": ... } }`). Cloud handlers map to
                  this envelope via `BitrouterError::into_response`.
                type: object
                properties:
                  error:
                    $ref: '#/$defs/ErrorBodyDoc'
                required:
                - error
                $defs:
                  ErrorBodyDoc:
                    type: object
                    properties:
                      code:
                        description: Machine-readable error code (e.g. `unauthorized`, `bad_request`).
                        type:
                        - string
                        - 'null'
                      message:
                        description: Human-readable error description.
                        type: string
                    required:
                    - message
        '404':
          description: Resource not found (or owned by a different account).
          content:
            application/json:
              schema:
                $schema: https://json-schema.org/draft/2020-12/schema
                title: ErrorResponseDoc
                description: |-
                  MIRROR: the JSON shape `bitrouter_sdk::error::BitrouterError` serialises into
                  (`{ "error": { "code": ..., "message": ... } }`). Cloud handlers map to
                  this envelope via `BitrouterError::into_response`.
                type: object
                properties:
                  error:
                    $ref: '#/$defs/ErrorBodyDoc'
                required:
                - error
                $defs:
                  ErrorBodyDoc:
                    type: object
                    properties:
                      code:
                        description: Machine-readable error code (e.g. `unauthorized`, `bad_request`).
                        type:
                        - string
                        - 'null'
                      message:
                        description: Human-readable error description.
                        type: string
                    required:
                    - message
      security:
      - ApiKeyHeader: []
      - BearerAuth: []
    post:
      tags:
      - Management
      summary: Create a namespace
      description: |-
        Creates a namespace owned by the caller. The name must be unique among the caller's live namespaces (409 on collision).

        _Requires the `namespace:write` scope._
      operationId: createNamespace
      requestBody:
        description: Request body. See the endpoint description for shape.
        content:
          application/json:
            schema:
              type: object
        required: true
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                type: object
        '401':
          description: Credential missing or did not verify.
          content:
            application/json:
              schema:
                $schema: https://json-schema.org/draft/2020-12/schema
                title: ErrorResponseDoc
                description: |-
                  MIRROR: the JSON shape `bitrouter_sdk::error::BitrouterError` serialises into
                  (`{ "error": { "code": ..., "message": ... } }`). Cloud handlers map to
                  this envelope via `BitrouterError::into_response`.
                type: object
                properties:
                  error:
                    $ref: '#/$defs/ErrorBodyDoc'
                required:
                - error
                $defs:
                  ErrorBodyDoc:
                    type: object
                    properties:
                      code:
                        description: Machine-readable error code (e.g. `unauthorized`, `bad_request`).
                        type:
                        - string
                        - 'null'
                      message:
                        description: Human-readable error description.
                        type: string
                    required:
                    - message
        '403':
          description: Credential is valid but lacks the required scope.
          content:
            application/json:
              schema:
                $schema: https://json-schema.org/draft/2020-12/schema
                title: ErrorResponseDoc
                description: |-
                  MIRROR: the JSON shape `bitrouter_sdk::error::BitrouterError` serialises into
                  (`{ "error": { "code": ..., "message": ... } }`). Cloud handlers map to
                  this envelope via `BitrouterError::into_response`.
                type: object
                properties:
                  error:
                    $ref: '#/$defs/ErrorBodyDoc'
                required:
                - error
                $defs:
                  ErrorBodyDoc:
                    type: object
                    properties:
                      code:
                        description: Machine-readable error code (e.g. `unauthorized`, `bad_request`).
                        type:
                        - string
                        - 'null'
                      message:
                        description: Human-readable error description.
                        type: string
                    required:
                    - message
        '404':
          description: Resource not found (or owned by a different account).
          content:
            application/json:
              schema:
                $schema: https://json-schema.org/draft/2020-12/schema
                title: ErrorResponseDoc
                description: |-
                  MIRROR: the JSON shape `bitrouter_sdk::error::BitrouterError` serialises into
                  (`{ "error": { "code": ..., "message": ... } }`). Cloud handlers map to
                  this envelope via `BitrouterError::into_response`.
                type: object
                properties:
                  error:
                    $ref: '#/$defs/ErrorBodyDoc'
                required:
                - error
                $defs:
                  ErrorBodyDoc:
                    type: object
                    properties:
                      code:
                        description: Machine-readable error code (e.g. `unauthorized`, `bad_request`).
                        type:
                        - string
                        - 'null'
                      message:
                        description: Human-readable error description.
                        type: string
                    required:
                    - message
      security:
      - ApiKeyHeader: []
      - BearerAuth: []
  /v1/namespaces/{nsid}:
    delete:
      tags:
      - Management
      summary: Delete a namespace and cascade its resources
      description: |-
        Ownership-checked. Refuses the caller's last namespace (409). Destroys the namespace's keys, OAuth tokens/clients, and policies; archives the row; detaches usage history. The wallet and BYOK keys (user-keyed) are retained.

        _Requires the `namespace:write` scope._
      operationId: deleteNamespace
      parameters:
      - in: path
        name: nsid
        description: Id of the target namespace. Must be owned by the caller (or equal a namespace-baked credential's own namespace), else 404.
        required: true
        schema:
          type: string
        style: simple
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                type: object
        '401':
          description: Credential missing or did not verify.
          content:
            application/json:
              schema:
                $schema: https://json-schema.org/draft/2020-12/schema
                title: ErrorResponseDoc
                description: |-
                  MIRROR: the JSON shape `bitrouter_sdk::error::BitrouterError` serialises into
                  (`{ "error": { "code": ..., "message": ... } }`). Cloud handlers map to
                  this envelope via `BitrouterError::into_response`.
                type: object
                properties:
                  error:
                    $ref: '#/$defs/ErrorBodyDoc'
                required:
                - error
                $defs:
                  ErrorBodyDoc:
                    type: object
                    properties:
                      code:
                        description: Machine-readable error code (e.g. `unauthorized`, `bad_request`).
                        type:
                        - string
                        - 'null'
                      message:
                        description: Human-readable error description.
                        type: string
                    required:
                    - message
        '403':
          description: Credential is valid but lacks the required scope.
          content:
            application/json:
              schema:
                $schema: https://json-schema.org/draft/2020-12/schema
                title: ErrorResponseDoc
                description: |-
                  MIRROR: the JSON shape `bitrouter_sdk::error::BitrouterError` serialises into
                  (`{ "error": { "code": ..., "message": ... } }`). Cloud handlers map to
                  this envelope via `BitrouterError::into_response`.
                type: object
                properties:
                  error:
                    $ref: '#/$defs/ErrorBodyDoc'
                required:
                - error
                $defs:
                  ErrorBodyDoc:
                    type: object
                    properties:
                      code:
                        description: Machine-readable error code (e.g. `unauthorized`, `bad_request`).
                        type:
                        - string
                        - 'null'
                      message:
                        description: Human-readable error description.
                        type: string
                    required:
                    - message
        '404':
          description: Resource not found (or owned by a different account).
          content:
            application/json:
              schema:
                $schema: https://json-schema.org/draft/2020-12/schema
                title: ErrorResponseDoc
                description: |-
                  MIRROR: the JSON shape `bitrouter_sdk::error::BitrouterError` serialises into
                  (`{ "error": { "code": ..., "message": ... } }`). Cloud handlers map to
                  this envelope via `BitrouterError::into_response`.
                type: object
                properties:
                  error:
                    $ref: '#/$defs/ErrorBodyDoc'
                required:
                - error
                $defs:
                  ErrorBodyDoc:
                    type: object
                    properties:
                      code:
                        description: Machine-readable error code (e.g. `unauthorized`, `bad_request`).
                        type:
                        - string
                        - 'null'
                      message:
                        description: Human-readable error description.
                        type: string
                    required:
                    - message
      security:
      - ApiKeyHeader: []
      - BearerAuth: []
  /v1/account:
    get:
      tags:
      - Management
      summary: Read the caller's user profile
      description: |-
        Returns id, email, display_name, created_at.

        _Requires the `user:read` scope._
      operationId: getAccount
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                type: object
        '401':
          description: Credential missing or did not verify.
          content:
            application/json:
              schema:
                $schema: https://json-schema.org/draft/2020-12/schema
                title: ErrorResponseDoc
                description: |-
                  MIRROR: the JSON shape `bitrouter_sdk::error::BitrouterError` serialises into
                  (`{ "error": { "code": ..., "message": ... } }`). Cloud handlers map to
                  this envelope via `BitrouterError::into_response`.
                type: object
                properties:
                  error:
                    $ref: '#/$defs/ErrorBodyDoc'
                required:
                - error
                $defs:
                  ErrorBodyDoc:
                    type: object
                    properties:
                      code:
                        description: Machine-readable error code (e.g. `unauthorized`, `bad_request`).
                        type:
                        - string
                        - 'null'
                      message:
                        description: Human-readable error description.
                        type: string
                    required:
                    - message
        '403':
          description: Credential is valid but lacks the required scope.
          content:
            application/json:
              schema:
                $schema: https://json-schema.org/draft/2020-12/schema
                title: ErrorResponseDoc
                description: |-
                  MIRROR: the JSON shape `bitrouter_sdk::error::BitrouterError` serialises into
                  (`{ "error": { "code": ..., "message": ... } }`). Cloud handlers map to
                  this envelope via `BitrouterError::into_response`.
                type: object
                properties:
                  error:
                    $ref: '#/$defs/ErrorBodyDoc'
                required:
                - error
                $defs:
                  ErrorBodyDoc:
                    type: object
                    properties:
                      code:
                        description: Machine-readable error code (e.g. `unauthorized`, `bad_request`).
                        type:
                        - string
                        - 'null'
                      message:
                        description: Human-readable error description.
                        type: string
                    required:
                    - message
        '404':
          description: Resource not found (or owned by a different account).
          content:
            application/json:
              schema:
                $schema: https://json-schema.org/draft/2020-12/schema
                title: ErrorResponseDoc
                description: |-
                  MIRROR: the JSON shape `bitrouter_sdk::error::BitrouterError` serialises into
                  (`{ "error": { "code": ..., "message": ... } }`). Cloud handlers map to
                  this envelope via `BitrouterError::into_response`.
                type: object
                properties:
                  error:
                    $ref: '#/$defs/ErrorBodyDoc'
                required:
                - error
                $defs:
                  ErrorBodyDoc:
                    type: object
                    properties:
                      code:
                        description: Machine-readable error code (e.g. `unauthorized`, `bad_request`).
                        type:
                        - string
                        - 'null'
                      message:
                        description: Human-readable error description.
                        type: string
                    required:
                    - message
      security:
      - ApiKeyHeader: []
      - BearerAuth: []
    delete:
      tags:
      - Management
      summary: Delete the caller's account
      description: |-
        Rust-first account deletion: destroys every credential under the user (API keys, OAuth tokens/clients, BYOK keys), archives all owned namespaces, and tombstones the IdP subject so the account cannot be re-provisioned. Irreversible; the caller's own session is revoked.

        _Requires the `user:write` scope._
      operationId: deleteAccount
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                type: object
        '401':
          description: Credential missing or did not verify.
          content:
            application/json:
              schema:
                $schema: https://json-schema.org/draft/2020-12/schema
                title: ErrorResponseDoc
                description: |-
                  MIRROR: the JSON shape `bitrouter_sdk::error::BitrouterError` serialises into
                  (`{ "error": { "code": ..., "message": ... } }`). Cloud handlers map to
                  this envelope via `BitrouterError::into_response`.
                type: object
                properties:
                  error:
                    $ref: '#/$defs/ErrorBodyDoc'
                required:
                - error
                $defs:
                  ErrorBodyDoc:
                    type: object
                    properties:
                      code:
                        description: Machine-readable error code (e.g. `unauthorized`, `bad_request`).
                        type:
                        - string
                        - 'null'
                      message:
                        description: Human-readable error description.
                        type: string
                    required:
                    - message
        '403':
          description: Credential is valid but lacks the required scope.
          content:
            application/json:
              schema:
                $schema: https://json-schema.org/draft/2020-12/schema
                title: ErrorResponseDoc
                description: |-
                  MIRROR: the JSON shape `bitrouter_sdk::error::BitrouterError` serialises into
                  (`{ "error": { "code": ..., "message": ... } }`). Cloud handlers map to
                  this envelope via `BitrouterError::into_response`.
                type: object
                properties:
                  error:
                    $ref: '#/$defs/ErrorBodyDoc'
                required:
                - error
                $defs:
                  ErrorBodyDoc:
                    type: object
                    properties:
                      code:
                        description: Machine-readable error code (e.g. `unauthorized`, `bad_request`).
                        type:
                        - string
                        - 'null'
                      message:
                        description: Human-readable error description.
                        type: string
                    required:
                    - message
        '404':
          description: Resource not found (or owned by a different account).
          content:
            application/json:
              schema:
                $schema: https://json-schema.org/draft/2020-12/schema
                title: ErrorResponseDoc
                description: |-
                  MIRROR: the JSON shape `bitrouter_sdk::error::BitrouterError` serialises into
                  (`{ "error": { "code": ..., "message": ... } }`). Cloud handlers map to
                  this envelope via `BitrouterError::into_response`.
                type: object
                properties:
                  error:
                    $ref: '#/$defs/ErrorBodyDoc'
                required:
                - error
                $defs:
                  ErrorBodyDoc:
                    type: object
                    properties:
                      code:
                        description: Machine-readable error code (e.g. `unauthorized`, `bad_request`).
                        type:
                        - string
                        - 'null'
                      message:
                        description: Human-readable error description.
                        type: string
                    required:
                    - message
      security:
      - ApiKeyHeader: []
      - BearerAuth: []
    patch:
      tags:
      - Management
      summary: Update the caller's profile
      description: |-
        Edits the one user-mutable field, `display_name`. `email` and the IdP identifier are read-only here.

        _Requires the `user:write` scope._
      operationId: updateAccount
      requestBody:
        description: Request body. See the endpoint description for shape.
        content:
          application/json:
            schema:
              type: object
        required: true
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                type: object
        '401':
          description: Credential missing or did not verify.
          content:
            application/json:
              schema:
                $schema: https://json-schema.org/draft/2020-12/schema
                title: ErrorResponseDoc
                description: |-
                  MIRROR: the JSON shape `bitrouter_sdk::error::BitrouterError` serialises into
                  (`{ "error": { "code": ..., "message": ... } }`). Cloud handlers map to
                  this envelope via `BitrouterError::into_response`.
                type: object
                properties:
                  error:
                    $ref: '#/$defs/ErrorBodyDoc'
                required:
                - error
                $defs:
                  ErrorBodyDoc:
                    type: object
                    properties:
                      code:
                        description: Machine-readable error code (e.g. `unauthorized`, `bad_request`).
                        type:
                        - string
                        - 'null'
                      message:
                        description: Human-readable error description.
                        type: string
                    required:
                    - message
        '403':
          description: Credential is valid but lacks the required scope.
          content:
            application/json:
              schema:
                $schema: https://json-schema.org/draft/2020-12/schema
                title: ErrorResponseDoc
                description: |-
                  MIRROR: the JSON shape `bitrouter_sdk::error::BitrouterError` serialises into
                  (`{ "error": { "code": ..., "message": ... } }`). Cloud handlers map to
                  this envelope via `BitrouterError::into_response`.
                type: object
                properties:
                  error:
                    $ref: '#/$defs/ErrorBodyDoc'
                required:
                - error
                $defs:
                  ErrorBodyDoc:
                    type: object
                    properties:
                      code:
                        description: Machine-readable error code (e.g. `unauthorized`, `bad_request`).
                        type:
                        - string
                        - 'null'
                      message:
                        description: Human-readable error description.
                        type: string
                    required:
                    - message
        '404':
          description: Resource not found (or owned by a different account).
          content:
            application/json:
              schema:
                $schema: https://json-schema.org/draft/2020-12/schema
                title: ErrorResponseDoc
                description: |-
                  MIRROR: the JSON shape `bitrouter_sdk::error::BitrouterError` serialises into
                  (`{ "error": { "code": ..., "message": ... } }`). Cloud handlers map to
                  this envelope via `BitrouterError::into_response`.
                type: object
                properties:
                  error:
                    $ref: '#/$defs/ErrorBodyDoc'
                required:
                - error
                $defs:
                  ErrorBodyDoc:
                    type: object
                    properties:
                      code:
                        description: Machine-readable error code (e.g. `unauthorized`, `bad_request`).
                        type:
                        - string
                        - 'null'
                      message:
                        description: Human-readable error description.
                        type: string
                    required:
                    - message
      security:
      - ApiKeyHeader: []
      - BearerAuth: []
  /v1/billing/balance:
    get:
      tags:
      - Management
      summary: Credit account balance
      description: |-
        Returns the raw balance, pending debits, and effective available amount in micro-USD.

        _Requires the `billing:read` scope._
      operationId: getBillingBalance
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                type: object
        '401':
          description: Credential missing or did not verify.
          content:
            application/json:
              schema:
                $schema: https://json-schema.org/draft/2020-12/schema
                title: ErrorResponseDoc
                description: |-
                  MIRROR: the JSON shape `bitrouter_sdk::error::BitrouterError` serialises into
                  (`{ "error": { "code": ..., "message": ... } }`). Cloud handlers map to
                  this envelope via `BitrouterError::into_response`.
                type: object
                properties:
                  error:
                    $ref: '#/$defs/ErrorBodyDoc'
                required:
                - error
                $defs:
                  ErrorBodyDoc:
                    type: object
                    properties:
                      code:
                        description: Machine-readable error code (e.g. `unauthorized`, `bad_request`).
                        type:
                        - string
                        - 'null'
                      message:
                        description: Human-readable error description.
                        type: string
                    required:
                    - message
        '403':
          description: Credential is valid but lacks the required scope.
          content:
            application/json:
              schema:
                $schema: https://json-schema.org/draft/2020-12/schema
                title: ErrorResponseDoc
                description: |-
                  MIRROR: the JSON shape `bitrouter_sdk::error::BitrouterError` serialises into
                  (`{ "error": { "code": ..., "message": ... } }`). Cloud handlers map to
                  this envelope via `BitrouterError::into_response`.
                type: object
                properties:
                  error:
                    $ref: '#/$defs/ErrorBodyDoc'
                required:
                - error
                $defs:
                  ErrorBodyDoc:
                    type: object
                    properties:
                      code:
                        description: Machine-readable error code (e.g. `unauthorized`, `bad_request`).
                        type:
                        - string
                        - 'null'
                      message:
                        description: Human-readable error description.
                        type: string
                    required:
                    - message
        '404':
          description: Resource not found (or owned by a different account).
          content:
            application/json:
              schema:
                $schema: https://json-schema.org/draft/2020-12/schema
                title: ErrorResponseDoc
                description: |-
                  MIRROR: the JSON shape `bitrouter_sdk::error::BitrouterError` serialises into
                  (`{ "error": { "code": ..., "message": ... } }`). Cloud handlers map to
                  this envelope via `BitrouterError::into_response`.
                type: object
                properties:
                  error:
                    $ref: '#/$defs/ErrorBodyDoc'
                required:
                - error
                $defs:
                  ErrorBodyDoc:
                    type: object
                    properties:
                      code:
                        description: Machine-readable error code (e.g. `unauthorized`, `bad_request`).
                        type:
                        - string
                        - 'null'
                      message:
                        description: Human-readable error description.
                        type: string
                    required:
                    - message
      security:
      - ApiKeyHeader: []
      - BearerAuth: []
  /v1/billing/transactions:
    get:
      tags:
      - Management
      summary: Paginated credit ledger history
      description: |-
        Credit ledger entries (topups, usage debits, refunds), newest first. `amount_micro_usd` is signed: positive for credits, negative for debits.

        _Requires the `billing:read` scope._
      operationId: listBillingTransactions
      parameters:
      - in: query
        name: limit
        description: Page size. Default 25, max 100.
        schema:
          type: string
        style: form
      - in: query
        name: offset
        description: Offset within the newest-first listing.
        schema:
          type: string
        style: form
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                type: object
        '401':
          description: Credential missing or did not verify.
          content:
            application/json:
              schema:
                $schema: https://json-schema.org/draft/2020-12/schema
                title: ErrorResponseDoc
                description: |-
                  MIRROR: the JSON shape `bitrouter_sdk::error::BitrouterError` serialises into
                  (`{ "error": { "code": ..., "message": ... } }`). Cloud handlers map to
                  this envelope via `BitrouterError::into_response`.
                type: object
                properties:
                  error:
                    $ref: '#/$defs/ErrorBodyDoc'
                required:
                - error
                $defs:
                  ErrorBodyDoc:
                    type: object
                    properties:
                      code:
                        description: Machine-readable error code (e.g. `unauthorized`, `bad_request`).
                        type:
                        - string
                        - 'null'
                      message:
                        description: Human-readable error description.
                        type: string
                    required:
                    - message
        '403':
          description: Credential is valid but lacks the required scope.
          content:
            application/json:
              schema:
                $schema: https://json-schema.org/draft/2020-12/schema
                title: ErrorResponseDoc
                description: |-
                  MIRROR: the JSON shape `bitrouter_sdk::error::BitrouterError` serialises into
                  (`{ "error": { "code": ..., "message": ... } }`). Cloud handlers map to
                  this envelope via `BitrouterError::into_response`.
                type: object
                properties:
                  error:
                    $ref: '#/$defs/ErrorBodyDoc'
                required:
                - error
                $defs:
                  ErrorBodyDoc:
                    type: object
                    properties:
                      code:
                        description: Machine-readable error code (e.g. `unauthorized`, `bad_request`).
                        type:
                        - string
                        - 'null'
                      message:
                        description: Human-readable error description.
                        type: string
                    required:
                    - message
        '404':
          description: Resource not found (or owned by a different account).
          content:
            application/json:
              schema:
                $schema: https://json-schema.org/draft/2020-12/schema
                title: ErrorResponseDoc
                description: |-
                  MIRROR: the JSON shape `bitrouter_sdk::error::BitrouterError` serialises into
                  (`{ "error": { "code": ..., "message": ... } }`). Cloud handlers map to
                  this envelope via `BitrouterError::into_response`.
                type: object
                properties:
                  error:
                    $ref: '#/$defs/ErrorBodyDoc'
                required:
                - error
                $defs:
                  ErrorBodyDoc:
                    type: object
                    properties:
                      code:
                        description: Machine-readable error code (e.g. `unauthorized`, `bad_request`).
                        type:
                        - string
                        - 'null'
                      message:
                        description: Human-readable error description.
                        type: string
                    required:
                    - message
      security:
      - ApiKeyHeader: []
      - BearerAuth: []
  /v1/billing/checkout/sessions:
    post:
      tags:
      - Management
      summary: Create a Stripe Checkout Session
      description: |-
        Creates a Stripe Checkout Session to buy credits. Returns the hosted URL the user must visit to complete payment.

        _Requires the `billing:write` scope._
      operationId: createCheckoutSession
      requestBody:
        description: Request body. See the endpoint description for shape.
        content:
          application/json:
            schema:
              type: object
        required: true
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                type: object
        '401':
          description: Credential missing or did not verify.
          content:
            application/json:
              schema:
                $schema: https://json-schema.org/draft/2020-12/schema
                title: ErrorResponseDoc
                description: |-
                  MIRROR: the JSON shape `bitrouter_sdk::error::BitrouterError` serialises into
                  (`{ "error": { "code": ..., "message": ... } }`). Cloud handlers map to
                  this envelope via `BitrouterError::into_response`.
                type: object
                properties:
                  error:
                    $ref: '#/$defs/ErrorBodyDoc'
                required:
                - error
                $defs:
                  ErrorBodyDoc:
                    type: object
                    properties:
                      code:
                        description: Machine-readable error code (e.g. `unauthorized`, `bad_request`).
                        type:
                        - string
                        - 'null'
                      message:
                        description: Human-readable error description.
                        type: string
                    required:
                    - message
        '403':
          description: Credential is valid but lacks the required scope.
          content:
            application/json:
              schema:
                $schema: https://json-schema.org/draft/2020-12/schema
                title: ErrorResponseDoc
                description: |-
                  MIRROR: the JSON shape `bitrouter_sdk::error::BitrouterError` serialises into
                  (`{ "error": { "code": ..., "message": ... } }`). Cloud handlers map to
                  this envelope via `BitrouterError::into_response`.
                type: object
                properties:
                  error:
                    $ref: '#/$defs/ErrorBodyDoc'
                required:
                - error
                $defs:
                  ErrorBodyDoc:
                    type: object
                    properties:
                      code:
                        description: Machine-readable error code (e.g. `unauthorized`, `bad_request`).
                        type:
                        - string
                        - 'null'
                      message:
                        description: Human-readable error description.
                        type: string
                    required:
                    - message
        '404':
          description: Resource not found (or owned by a different account).
          content:
            application/json:
              schema:
                $schema: https://json-schema.org/draft/2020-12/schema
                title: ErrorResponseDoc
                description: |-
                  MIRROR: the JSON shape `bitrouter_sdk::error::BitrouterError` serialises into
                  (`{ "error": { "code": ..., "message": ... } }`). Cloud handlers map to
                  this envelope via `BitrouterError::into_response`.
                type: object
                properties:
                  error:
                    $ref: '#/$defs/ErrorBodyDoc'
                required:
                - error
                $defs:
                  ErrorBodyDoc:
                    type: object
                    properties:
                      code:
                        description: Machine-readable error code (e.g. `unauthorized`, `bad_request`).
                        type:
                        - string
                        - 'null'
                      message:
                        description: Human-readable error description.
                        type: string
                    required:
                    - message
      security:
      - ApiKeyHeader: []
      - BearerAuth: []
  /v1/byok/keys:
    get:
      tags:
      - Management
      summary: List BYOK provider keys
      description: |-
        Metadata-only — never returns the sealed ciphertext.

        _Requires the `byok:read` scope._
      operationId: listByokKeys
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                type: object
        '401':
          description: Credential missing or did not verify.
          content:
            application/json:
              schema:
                $schema: https://json-schema.org/draft/2020-12/schema
                title: ErrorResponseDoc
                description: |-
                  MIRROR: the JSON shape `bitrouter_sdk::error::BitrouterError` serialises into
                  (`{ "error": { "code": ..., "message": ... } }`). Cloud handlers map to
                  this envelope via `BitrouterError::into_response`.
                type: object
                properties:
                  error:
                    $ref: '#/$defs/ErrorBodyDoc'
                required:
                - error
                $defs:
                  ErrorBodyDoc:
                    type: object
                    properties:
                      code:
                        description: Machine-readable error code (e.g. `unauthorized`, `bad_request`).
                        type:
                        - string
                        - 'null'
                      message:
                        description: Human-readable error description.
                        type: string
                    required:
                    - message
        '403':
          description: Credential is valid but lacks the required scope.
          content:
            application/json:
              schema:
                $schema: https://json-schema.org/draft/2020-12/schema
                title: ErrorResponseDoc
                description: |-
                  MIRROR: the JSON shape `bitrouter_sdk::error::BitrouterError` serialises into
                  (`{ "error": { "code": ..., "message": ... } }`). Cloud handlers map to
                  this envelope via `BitrouterError::into_response`.
                type: object
                properties:
                  error:
                    $ref: '#/$defs/ErrorBodyDoc'
                required:
                - error
                $defs:
                  ErrorBodyDoc:
                    type: object
                    properties:
                      code:
                        description: Machine-readable error code (e.g. `unauthorized`, `bad_request`).
                        type:
                        - string
                        - 'null'
                      message:
                        description: Human-readable error description.
                        type: string
                    required:
                    - message
        '404':
          description: Resource not found (or owned by a different account).
          content:
            application/json:
              schema:
                $schema: https://json-schema.org/draft/2020-12/schema
                title: ErrorResponseDoc
                description: |-
                  MIRROR: the JSON shape `bitrouter_sdk::error::BitrouterError` serialises into
                  (`{ "error": { "code": ..., "message": ... } }`). Cloud handlers map to
                  this envelope via `BitrouterError::into_response`.
                type: object
                properties:
                  error:
                    $ref: '#/$defs/ErrorBodyDoc'
                required:
                - error
                $defs:
                  ErrorBodyDoc:
                    type: object
                    properties:
                      code:
                        description: Machine-readable error code (e.g. `unauthorized`, `bad_request`).
                        type:
                        - string
                        - 'null'
                      message:
                        description: Human-readable error description.
                        type: string
                    required:
                    - message
      security:
      - ApiKeyHeader: []
      - BearerAuth: []
    post:
      tags:
      - Management
      summary: Upsert a BYOK provider key
      description: |-
        Stores a sealed-box ciphertext for one provider. Refuses any payload sealed against a `kek_id` other than the cloud's current encryption pubkey (`/v1/byok/encryption-pubkey`).

        _Requires the `byok:write` scope._
      operationId: upsertByokKey
      requestBody:
        description: Request body. See the endpoint description for shape.
        content:
          application/json:
            schema:
              type: object
        required: true
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                type: object
        '401':
          description: Credential missing or did not verify.
          content:
            application/json:
              schema:
                $schema: https://json-schema.org/draft/2020-12/schema
                title: ErrorResponseDoc
                description: |-
                  MIRROR: the JSON shape `bitrouter_sdk::error::BitrouterError` serialises into
                  (`{ "error": { "code": ..., "message": ... } }`). Cloud handlers map to
                  this envelope via `BitrouterError::into_response`.
                type: object
                properties:
                  error:
                    $ref: '#/$defs/ErrorBodyDoc'
                required:
                - error
                $defs:
                  ErrorBodyDoc:
                    type: object
                    properties:
                      code:
                        description: Machine-readable error code (e.g. `unauthorized`, `bad_request`).
                        type:
                        - string
                        - 'null'
                      message:
                        description: Human-readable error description.
                        type: string
                    required:
                    - message
        '403':
          description: Credential is valid but lacks the required scope.
          content:
            application/json:
              schema:
                $schema: https://json-schema.org/draft/2020-12/schema
                title: ErrorResponseDoc
                description: |-
                  MIRROR: the JSON shape `bitrouter_sdk::error::BitrouterError` serialises into
                  (`{ "error": { "code": ..., "message": ... } }`). Cloud handlers map to
                  this envelope via `BitrouterError::into_response`.
                type: object
                properties:
                  error:
                    $ref: '#/$defs/ErrorBodyDoc'
                required:
                - error
                $defs:
                  ErrorBodyDoc:
                    type: object
                    properties:
                      code:
                        description: Machine-readable error code (e.g. `unauthorized`, `bad_request`).
                        type:
                        - string
                        - 'null'
                      message:
                        description: Human-readable error description.
                        type: string
                    required:
                    - message
        '404':
          description: Resource not found (or owned by a different account).
          content:
            application/json:
              schema:
                $schema: https://json-schema.org/draft/2020-12/schema
                title: ErrorResponseDoc
                description: |-
                  MIRROR: the JSON shape `bitrouter_sdk::error::BitrouterError` serialises into
                  (`{ "error": { "code": ..., "message": ... } }`). Cloud handlers map to
                  this envelope via `BitrouterError::into_response`.
                type: object
                properties:
                  error:
                    $ref: '#/$defs/ErrorBodyDoc'
                required:
                - error
                $defs:
                  ErrorBodyDoc:
                    type: object
                    properties:
                      code:
                        description: Machine-readable error code (e.g. `unauthorized`, `bad_request`).
                        type:
                        - string
                        - 'null'
                      message:
                        description: Human-readable error description.
                        type: string
                    required:
                    - message
      security:
      - ApiKeyHeader: []
      - BearerAuth: []
  /v1/byok/keys/{provider}:
    delete:
      tags:
      - Management
      summary: Delete a BYOK provider key
      description: |2-


        _Requires the `byok:write` scope._
      operationId: deleteByokKey
      parameters:
      - in: path
        name: provider
        description: Provider name as registered in the cloud's provider catalog.
        required: true
        schema:
          type: string
        style: simple
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                type: object
        '401':
          description: Credential missing or did not verify.
          content:
            application/json:
              schema:
                $schema: https://json-schema.org/draft/2020-12/schema
                title: ErrorResponseDoc
                description: |-
                  MIRROR: the JSON shape `bitrouter_sdk::error::BitrouterError` serialises into
                  (`{ "error": { "code": ..., "message": ... } }`). Cloud handlers map to
                  this envelope via `BitrouterError::into_response`.
                type: object
                properties:
                  error:
                    $ref: '#/$defs/ErrorBodyDoc'
                required:
                - error
                $defs:
                  ErrorBodyDoc:
                    type: object
                    properties:
                      code:
                        description: Machine-readable error code (e.g. `unauthorized`, `bad_request`).
                        type:
                        - string
                        - 'null'
                      message:
                        description: Human-readable error description.
                        type: string
                    required:
                    - message
        '403':
          description: Credential is valid but lacks the required scope.
          content:
            application/json:
              schema:
                $schema: https://json-schema.org/draft/2020-12/schema
                title: ErrorResponseDoc
                description: |-
                  MIRROR: the JSON shape `bitrouter_sdk::error::BitrouterError` serialises into
                  (`{ "error": { "code": ..., "message": ... } }`). Cloud handlers map to
                  this envelope via `BitrouterError::into_response`.
                type: object
                properties:
                  error:
                    $ref: '#/$defs/ErrorBodyDoc'
                required:
                - error
                $defs:
                  ErrorBodyDoc:
                    type: object
                    properties:
                      code:
                        description: Machine-readable error code (e.g. `unauthorized`, `bad_request`).
                        type:
                        - string
                        - 'null'
                      message:
                        description: Human-readable error description.
                        type: string
                    required:
                    - message
        '404':
          description: Resource not found (or owned by a different account).
          content:
            application/json:
              schema:
                $schema: https://json-schema.org/draft/2020-12/schema
                title: ErrorResponseDoc
                description: |-
                  MIRROR: the JSON shape `bitrouter_sdk::error::BitrouterError` serialises into
                  (`{ "error": { "code": ..., "message": ... } }`). Cloud handlers map to
                  this envelope via `BitrouterError::into_response`.
                type: object
                properties:
                  error:
                    $ref: '#/$defs/ErrorBodyDoc'
                required:
                - error
                $defs:
                  ErrorBodyDoc:
                    type: object
                    properties:
                      code:
                        description: Machine-readable error code (e.g. `unauthorized`, `bad_request`).
                        type:
                        - string
                        - 'null'
                      message:
                        description: Human-readable error description.
                        type: string
                    required:
                    - message
      security:
      - ApiKeyHeader: []
      - BearerAuth: []
  /v1/namespaces/{nsid}/keys:
    get:
      tags:
      - Management
      summary: List API keys for the calling account
      description: |-
        Account-scoped list of brk_ API keys. Never returns the secret.

        _Requires the `keys:read` scope._
      operationId: listApiKeys
      parameters:
      - in: path
        name: nsid
        description: Id of the target namespace. Must be owned by the caller (or equal a namespace-baked credential's own namespace), else 404.
        required: true
        schema:
          type: string
        style: simple
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                type: object
        '401':
          description: Credential missing or did not verify.
          content:
            application/json:
              schema:
                $schema: https://json-schema.org/draft/2020-12/schema
                title: ErrorResponseDoc
                description: |-
                  MIRROR: the JSON shape `bitrouter_sdk::error::BitrouterError` serialises into
                  (`{ "error": { "code": ..., "message": ... } }`). Cloud handlers map to
                  this envelope via `BitrouterError::into_response`.
                type: object
                properties:
                  error:
                    $ref: '#/$defs/ErrorBodyDoc'
                required:
                - error
                $defs:
                  ErrorBodyDoc:
                    type: object
                    properties:
                      code:
                        description: Machine-readable error code (e.g. `unauthorized`, `bad_request`).
                        type:
                        - string
                        - 'null'
                      message:
                        description: Human-readable error description.
                        type: string
                    required:
                    - message
        '403':
          description: Credential is valid but lacks the required scope.
          content:
            application/json:
              schema:
                $schema: https://json-schema.org/draft/2020-12/schema
                title: ErrorResponseDoc
                description: |-
                  MIRROR: the JSON shape `bitrouter_sdk::error::BitrouterError` serialises into
                  (`{ "error": { "code": ..., "message": ... } }`). Cloud handlers map to
                  this envelope via `BitrouterError::into_response`.
                type: object
                properties:
                  error:
                    $ref: '#/$defs/ErrorBodyDoc'
                required:
                - error
                $defs:
                  ErrorBodyDoc:
                    type: object
                    properties:
                      code:
                        description: Machine-readable error code (e.g. `unauthorized`, `bad_request`).
                        type:
                        - string
                        - 'null'
                      message:
                        description: Human-readable error description.
                        type: string
                    required:
                    - message
        '404':
          description: Resource not found (or owned by a different account).
          content:
            application/json:
              schema:
                $schema: https://json-schema.org/draft/2020-12/schema
                title: ErrorResponseDoc
                description: |-
                  MIRROR: the JSON shape `bitrouter_sdk::error::BitrouterError` serialises into
                  (`{ "error": { "code": ..., "message": ... } }`). Cloud handlers map to
                  this envelope via `BitrouterError::into_response`.
                type: object
                properties:
                  error:
                    $ref: '#/$defs/ErrorBodyDoc'
                required:
                - error
                $defs:
                  ErrorBodyDoc:
                    type: object
                    properties:
                      code:
                        description: Machine-readable error code (e.g. `unauthorized`, `bad_request`).
                        type:
                        - string
                        - 'null'
                      message:
                        description: Human-readable error description.
                        type: string
                    required:
                    - message
      security:
      - ApiKeyHeader: []
      - BearerAuth: []
    post:
      tags:
      - Management
      summary: Mint a new API key
      description: |-
        Mint a brk_ API key. Returns the plaintext token exactly once.

        The requested `scopes` must be a subset of the caller's effective scopes — no upscaling (RFC 6749 §3.3).

        _Requires the `keys:write` scope._
      operationId: mintApiKey
      parameters:
      - in: path
        name: nsid
        description: Id of the target namespace. Must be owned by the caller (or equal a namespace-baked credential's own namespace), else 404.
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        description: Request body. See the endpoint description for shape.
        content:
          application/json:
            schema:
              type: object
        required: true
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                type: object
        '401':
          description: Credential missing or did not verify.
          content:
            application/json:
              schema:
                $schema: https://json-schema.org/draft/2020-12/schema
                title: ErrorResponseDoc
                description: |-
                  MIRROR: the JSON shape `bitrouter_sdk::error::BitrouterError` serialises into
                  (`{ "error": { "code": ..., "message": ... } }`). Cloud handlers map to
                  this envelope via `BitrouterError::into_response`.
                type: object
                properties:
                  error:
                    $ref: '#/$defs/ErrorBodyDoc'
                required:
                - error
                $defs:
                  ErrorBodyDoc:
                    type: object
                    properties:
                      code:
                        description: Machine-readable error code (e.g. `unauthorized`, `bad_request`).
                        type:
                        - string
                        - 'null'
                      message:
                        description: Human-readable error description.
                        type: string
                    required:
                    - message
        '403':
          description: Credential is valid but lacks the required scope.
          content:
            application/json:
              schema:
                $schema: https://json-schema.org/draft/2020-12/schema
                title: ErrorResponseDoc
                description: |-
                  MIRROR: the JSON shape `bitrouter_sdk::error::BitrouterError` serialises into
                  (`{ "error": { "code": ..., "message": ... } }`). Cloud handlers map to
                  this envelope via `BitrouterError::into_response`.
                type: object
                properties:
                  error:
                    $ref: '#/$defs/ErrorBodyDoc'
                required:
                - error
                $defs:
                  ErrorBodyDoc:
                    type: object
                    properties:
                      code:
                        description: Machine-readable error code (e.g. `unauthorized`, `bad_request`).
                        type:
                        - string
                        - 'null'
                      message:
                        description: Human-readable error description.
                        type: string
                    required:
                    - message
        '404':
          description: Resource not found (or owned by a different account).
          content:
            application/json:
              schema:
                $schema: https://json-schema.org/draft/2020-12/schema
                title: ErrorResponseDoc
                description: |-
                  MIRROR: the JSON shape `bitrouter_sdk::error::BitrouterError` serialises into
                  (`{ "error": { "code": ..., "message": ... } }`). Cloud handlers map to
                  this envelope via `BitrouterError::into_response`.
                type: object
                properties:
                  error:
                    $ref: '#/$defs/ErrorBodyDoc'
                required:
                - error
                $defs:
                  ErrorBodyDoc:
                    type: object
                    properties:
                      code:
                        description: Machine-readable error code (e.g. `unauthorized`, `bad_request`).
                        type:
                        - string
                        - 'null'
                      message:
                        description: Human-readable error description.
                        type: string
                    required:
                    - message
      security:
      - ApiKeyHeader: []
      - BearerAuth: []
  /v1/namespaces/{nsid}/keys/{id}:
    delete:
      tags:
      - Management
      summary: Revoke an API key
      description: |-
        Stamps `revoked_at` on the row. Subsequent verifies fail with 401.

        _Requires the `keys:write` scope._
      operationId: revokeApiKey
      parameters:
      - in: path
        name: nsid
        description: Id of the target namespace. Must be owned by the caller (or equal a namespace-baked credential's own namespace), else 404.
        required: true
        schema:
          type: string
        style: simple
      - in: path
        name: id
        description: Surrogate id of the api_keys row.
        required: true
        schema:
          type: string
        style: simple
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                type: object
        '401':
          description: Credential missing or did not verify.
          content:
            application/json:
              schema:
                $schema: https://json-schema.org/draft/2020-12/schema
                title: ErrorResponseDoc
                description: |-
                  MIRROR: the JSON shape `bitrouter_sdk::error::BitrouterError` serialises into
                  (`{ "error": { "code": ..., "message": ... } }`). Cloud handlers map to
                  this envelope via `BitrouterError::into_response`.
                type: object
                properties:
                  error:
                    $ref: '#/$defs/ErrorBodyDoc'
                required:
                - error
                $defs:
                  ErrorBodyDoc:
                    type: object
                    properties:
                      code:
                        description: Machine-readable error code (e.g. `unauthorized`, `bad_request`).
                        type:
                        - string
                        - 'null'
                      message:
                        description: Human-readable error description.
                        type: string
                    required:
                    - message
        '403':
          description: Credential is valid but lacks the required scope.
          content:
            application/json:
              schema:
                $schema: https://json-schema.org/draft/2020-12/schema
                title: ErrorResponseDoc
                description: |-
                  MIRROR: the JSON shape `bitrouter_sdk::error::BitrouterError` serialises into
                  (`{ "error": { "code": ..., "message": ... } }`). Cloud handlers map to
                  this envelope via `BitrouterError::into_response`.
                type: object
                properties:
                  error:
                    $ref: '#/$defs/ErrorBodyDoc'
                required:
                - error
                $defs:
                  ErrorBodyDoc:
                    type: object
                    properties:
                      code:
                        description: Machine-readable error code (e.g. `unauthorized`, `bad_request`).
                        type:
                        - string
                        - 'null'
                      message:
                        description: Human-readable error description.
                        type: string
                    required:
                    - message
        '404':
          description: Resource not found (or owned by a different account).
          content:
            application/json:
              schema:
                $schema: https://json-schema.org/draft/2020-12/schema
                title: ErrorResponseDoc
                description: |-
                  MIRROR: the JSON shape `bitrouter_sdk::error::BitrouterError` serialises into
                  (`{ "error": { "code": ..., "message": ... } }`). Cloud handlers map to
                  this envelope via `BitrouterError::into_response`.
                type: object
                properties:
                  error:
                    $ref: '#/$defs/ErrorBodyDoc'
                required:
                - error
                $defs:
                  ErrorBodyDoc:
                    type: object
                    properties:
                      code:
                        description: Machine-readable error code (e.g. `unauthorized`, `bad_request`).
                        type:
                        - string
                        - 'null'
                      message:
                        description: Human-readable error description.
                        type: string
                    required:
                    - message
      security:
      - ApiKeyHeader: []
      - BearerAuth: []
  /v1/namespaces/{nsid}/usage:
    get:
      tags:
      - Management
      summary: Aggregate spend / tokens for a window
      description: |-
        Sums `usage` / `pending_debit_recovery` ledger entries and the `requests` rows over the window. Defaults to the last 30 days.

        _Requires the `usage:read` scope._
      operationId: getUsageAggregate
      parameters:
      - in: path
        name: nsid
        description: Id of the target namespace. Must be owned by the caller (or equal a namespace-baked credential's own namespace), else 404.
        required: true
        schema:
          type: string
        style: simple
      - in: query
        name: from
        description: Inclusive RFC 3339 timestamp lower bound.
        schema:
          type: string
        style: form
      - in: query
        name: to
        description: Exclusive RFC 3339 timestamp upper bound.
        schema:
          type: string
        style: form
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                type: object
        '401':
          description: Credential missing or did not verify.
          content:
            application/json:
              schema:
                $schema: https://json-schema.org/draft/2020-12/schema
                title: ErrorResponseDoc
                description: |-
                  MIRROR: the JSON shape `bitrouter_sdk::error::BitrouterError` serialises into
                  (`{ "error": { "code": ..., "message": ... } }`). Cloud handlers map to
                  this envelope via `BitrouterError::into_response`.
                type: object
                properties:
                  error:
                    $ref: '#/$defs/ErrorBodyDoc'
                required:
                - error
                $defs:
                  ErrorBodyDoc:
                    type: object
                    properties:
                      code:
                        description: Machine-readable error code (e.g. `unauthorized`, `bad_request`).
                        type:
                        - string
                        - 'null'
                      message:
                        description: Human-readable error description.
                        type: string
                    required:
                    - message
        '403':
          description: Credential is valid but lacks the required scope.
          content:
            application/json:
              schema:
                $schema: https://json-schema.org/draft/2020-12/schema
                title: ErrorResponseDoc
                description: |-
                  MIRROR: the JSON shape `bitrouter_sdk::error::BitrouterError` serialises into
                  (`{ "error": { "code": ..., "message": ... } }`). Cloud handlers map to
                  this envelope via `BitrouterError::into_response`.
                type: object
                properties:
                  error:
                    $ref: '#/$defs/ErrorBodyDoc'
                required:
                - error
                $defs:
                  ErrorBodyDoc:
                    type: object
                    properties:
                      code:
                        description: Machine-readable error code (e.g. `unauthorized`, `bad_request`).
                        type:
                        - string
                        - 'null'
                      message:
                        description: Human-readable error description.
                        type: string
                    required:
                    - message
        '404':
          description: Resource not found (or owned by a different account).
          content:
            application/json:
              schema:
                $schema: https://json-schema.org/draft/2020-12/schema
                title: ErrorResponseDoc
[...]
