openapi: 3.1.0
info:
  title: BitRouter API
  description: |-
    The BitRouter API exposes the routing proxy and account-bound services of the hosted BitRouter Cloud node.

    ## Base URL

    ```
    https://api.bitrouter.ai
    ```

    Most endpoints are served under `/v1`. The healthcheck (`/ping`) lives at the root.

    ## Authentication

    Routing endpoints (`/v1/chat/completions`, `/v1/messages`, `/v1/responses`, `/v1beta/models/{model_action}`) accept either:

    - `x-api-key: <api-key>` — Anthropic-compatible header.
    - `Authorization: Bearer <api-key | JWT>` — issued via the BitRouter console or minted from a wallet (CAIP-10 issuer).

    Discovery endpoints (`/v1/models`, `/v1/providers`, `/v1/byok/encryption-pubkey`), the healthcheck, and the scraper-facing `/metrics` are public.

    ## Multi-Protocol Routing

    BitRouter accepts requests in the native format of each supported provider:

    - **OpenAI Chat Completions** — `/v1/chat/completions`
    - **OpenAI Responses** — `/v1/responses`
    - **Anthropic Messages** — `/v1/messages`
    - **Google Generative Language** — `/v1beta/models/{model}:generateContent`

    The router resolves the requested model to a configured upstream provider, forwards the request, and returns the response in the same provider format.
  version: 1.0.0
servers:
- url: https://api.bitrouter.ai
  description: Production
paths:
  /ping:
    get:
      tags:
      - Health
      summary: Liveness check
      description: Returns `200 OK` with an empty body if the node is up.
      operationId: ping
      responses:
        '200':
          description: Node is up.
  /v1/models:
    get:
      tags:
      - Discovery
      summary: List available models
      description: Returns all models available across configured providers. Supports optional query filters for provider, model ID substring, and modality.
      operationId: listModels
      parameters:
      - in: query
        name: provider
        description: Filter by provider name (exact match against the model's `providers` array).
        schema:
          type: string
        style: form
      - in: query
        name: id
        description: Filter by model ID (case-insensitive substring match).
        schema:
          type: string
        style: form
      - in: query
        name: input_modality
        description: Filter by supported input modality (e.g. `text`, `image`).
        schema:
          type: string
        style: form
      - in: query
        name: output_modality
        description: Filter by supported output modality.
        schema:
          type: string
        style: form
      responses:
        '200':
          description: List of models.
          content:
            application/json:
              schema:
                $schema: https://json-schema.org/draft/2020-12/schema
                title: ModelListResponse
                description: |-
                  Envelope shape for `GET /v1/models`. Wraps the catalogue in `{ "data": [...] }`
                  so future top-level fields (pagination cursors, etc.) can be added without a
                  breaking change.
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/$defs/ModelResponse'
                required:
                - data
                $defs:
                  ContextTier:
                    description: |-
                      A higher context-pricing bracket. Some upstreams bill a model at a steeper
                      rate once the prompt crosses a context-length threshold (e.g. one rate up
                      to 128k input tokens, a higher one between 128k and 256k). The selected
                      bracket's rates apply to the **whole** request — a step function, not
                      graduated marginal brackets — and the bracket is chosen by the request's
                      total input (prompt) token count.

                      Upstreams that publish such tiers:
                      - Alibaba Qwen Model Studio:
                        <https://help.aliyun.com/en/model-studio/models>
                      - Google Gemini API long-context pricing:
                        <https://ai.google.dev/gemini-api/docs/pricing>
                    type: object
                    properties:
                      above_input_tokens:
                        description: |-
                          **Exclusive** lower bound on total input tokens. A request whose input
                          size is strictly greater than this is eligible for the bracket; a
                          request exactly at the bound stays in the lower bracket (so a base
                          bracket documented as "≤ 128k" is expressed as a tier with
                          `above_input_tokens: 128000`).
                        type: integer
                        format: uint64
                        minimum: 0
                      input_tokens:
                        $ref: '#/$defs/InputTokenPricing'
                      output_tokens:
                        $ref: '#/$defs/OutputTokenPricing'
                    required:
                    - above_input_tokens
                  InputTokenPricing:
                    description: Input token pricing per million tokens.
                    type: object
                    properties:
                      cache_read:
                        description: Cost per million cache-read input tokens.
                        type:
                        - number
                        - 'null'
                        format: double
                      cache_write:
                        description: Cost per million cache-write input tokens.
                        type:
                        - number
                        - 'null'
                        format: double
                      no_cache:
                        description: Cost per million non-cached input tokens.
                        type:
                        - number
                        - 'null'
                        format: double
                  ModelFirstTokenLatencyResponse:
                    type: object
                    properties:
                      best_p50_ms:
                        type:
                        - integer
                        - 'null'
                        format: uint64
                        minimum: 0
                      best_p95_ms:
                        type:
                        - integer
                        - 'null'
                        format: uint64
                        minimum: 0
                      sample_count:
                        type: integer
                        format: uint64
                        minimum: 0
                      window_seconds:
                        type: integer
                        format: uint64
                        minimum: 0
                    required:
                    - sample_count
                    - window_seconds
                  ModelLatencyResponse:
                    type: object
                    properties:
                      first_token:
                        $ref: '#/$defs/ModelFirstTokenLatencyResponse'
                    required:
                    - first_token
                  ModelOutputTokenThroughputResponse:
                    type: object
                    properties:
                      best_p50_tokens_per_second:
                        type:
                        - number
                        - 'null'
                        format: double
                      best_p95_tokens_per_second:
                        type:
                        - number
                        - 'null'
                        format: double
                      sample_count:
                        type: integer
                        format: uint64
                        minimum: 0
                      window_seconds:
                        type: integer
                        format: uint64
                        minimum: 0
                    required:
                    - sample_count
                    - window_seconds
                  ModelPricing:
                    description: |-
                      Token pricing per million tokens for a model.

                      `input_tokens`/`output_tokens` are the **base bracket**: the rates for the
                      lowest context range and the fallback when no [`context_tiers`] entry
                      applies. When `context_tiers` is empty the pricing is a single flat rate
                      for every request size (the historical behaviour).

                      [`context_tiers`]: ModelPricing::context_tiers
                    type: object
                    properties:
                      context_tiers:
                        description: |-
                          Optional higher context brackets. Empty ⇒ flat pricing. The registry
                          validator enforces ascending, unique `above_input_tokens` and a
                          complete base bracket, so the per-request resolver does not depend on
                          list order.
                        type: array
                        items:
                          $ref: '#/$defs/ContextTier'
                      input_tokens:
                        $ref: '#/$defs/InputTokenPricing'
                      output_tokens:
                        $ref: '#/$defs/OutputTokenPricing'
                  ModelResponse:
                    type: object
                    properties:
                      capabilities:
                        description: |-
                          Union of inference capabilities advertised across this model's providers
                          (e.g. `structured_outputs`). Omitted when empty.
                        type: array
                        items:
                          type: string
                      description:
                        type:
                        - string
                        - 'null'
                      hosted:
                        description: |-
                          `true` for a hosted (platform-served) model; `false` for a BYOK/
                          BYO-subscription model that only appears when the caller has a key for
                          one of its providers and requires that key to route.
                        type: boolean
                      id:
                        type: string
                      input_modalities:
                        type: array
                        items:
                          type: string
                      latency:
                        $ref: '#/$defs/ModelLatencyResponse'
                      max_input_tokens:
                        type:
                        - integer
                        - 'null'
                        format: uint64
                        minimum: 0
                      max_output_tokens:
                        type:
                        - integer
                        - 'null'
                        format: uint64
                        minimum: 0
                      name:
                        type:
                        - string
                        - 'null'
                      open_weights:
                        description: |-
                          `true` when the model's weights are openly licensed, `false` when they
                          are proprietary. Omitted entirely for models the registry does not
                          declare (external BYOK offerings) — an absent field means "unknown",
                          never "proprietary".
                        type:
                        - boolean
                        - 'null'
                      output_modalities:
                        type: array
                        items:
                          type: string
                      pricing:
                        anyOf:
                        - $ref: '#/$defs/ModelPricing'
                        - type: 'null'
                      providers:
                        $ref: '#/$defs/ProvidersSummary'
                      throughput:
                        $ref: '#/$defs/ModelThroughputResponse'
                    required:
                    - id
                    - input_modalities
                    - output_modalities
                    - capabilities
                    - hosted
                    - providers
                    - latency
                    - throughput
                  ModelThroughputResponse:
                    type: object
                    properties:
                      output_tokens:
                        $ref: '#/$defs/ModelOutputTokenThroughputResponse'
                    required:
                    - output_tokens
                  OutputTokenPricing:
                    description: Output token pricing per million tokens.
                    type: object
                    properties:
                      audio:
                        description: Cost per million audio output tokens. Reserved — see `image`.
                        type:
                        - number
                        - 'null'
                        format: double
                      image:
                        description: |-
                          Cost per million image output tokens. Reserved — not yet wired
                          into `calculate_charge_micro_usd`.
                        type:
                        - number
                        - 'null'
                        format: double
                      reasoning:
                        description: Cost per million reasoning output tokens.
                        type:
                        - number
                        - 'null'
                        format: double
                      text:
                        description: Cost per million text output tokens.
                        type:
                        - number
                        - 'null'
                        format: double
                  ProvidersSummary:
                    type: object
                    properties:
                      total_online:
                        type: integer
                        format: uint
                        minimum: 0
                    required:
                    - total_online
  /v1/providers:
    get:
      tags:
      - Discovery
      summary: List providers
      description: Public registry of providers the node knows about, sourced from the upstream `bitrouter-providers` builtins. Used by the console to render the BYOK page without hard-coding the list.
      operationId: listProviders
      responses:
        '200':
          description: List of providers.
          content:
            application/json:
              schema:
                $schema: https://json-schema.org/draft/2020-12/schema
                title: ProviderListResponse
                description: |-
                  Envelope for `GET /v1/providers`. Same `{ "data": [...] }` shape as
                  `/v1/models` so the two listings stay consistent for SDK consumers.
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/$defs/ProviderCatalogEntry'
                required:
                - data
                $defs:
                  Access:
                    description: |-
                      How a caller obtains access to a provider — the registration / credential
                      obtainment model. Mirrors the registry `access` field; supersedes the old
                      `byok` boolean. Drives the console BYOK page (lists `api_key` only), the
                      platform pool (skips `local_*`), and the BYOK overlay's security gate.
                      Serialized on the public `/v1/providers` catalog (`Serialize` + `JsonSchema`)
                      so the console can filter the BYOK page on `access === "api_key"` directly.
                    oneOf:
                    - description: Public self-registration → a portable API key (the BYOK case).
                      type: string
                      const: api_key
                    - description: Public, credentials minted by a local browser/device OAuth flow.
                      type: string
                      const: local_oauth
                    - description: Public, credentials minted by a local OAuth+PKCE flow.
                      type: string
                      const: local_pkce
                    - description: No public registration — platform-pooled / invite-only. Never BYOK.
                      type: string
                      const: private
                  ContextTier:
                    description: |-
                      A higher context-pricing bracket. Some upstreams bill a model at a steeper
                      rate once the prompt crosses a context-length threshold (e.g. one rate up
                      to 128k input tokens, a higher one between 128k and 256k). The selected
                      bracket's rates apply to the **whole** request — a step function, not
                      graduated marginal brackets — and the bracket is chosen by the request's
                      total input (prompt) token count.

                      Upstreams that publish such tiers:
                      - Alibaba Qwen Model Studio:
                        <https://help.aliyun.com/en/model-studio/models>
                      - Google Gemini API long-context pricing:
                        <https://ai.google.dev/gemini-api/docs/pricing>
                    type: object
                    properties:
                      above_input_tokens:
                        description: |-
                          **Exclusive** lower bound on total input tokens. A request whose input
                          size is strictly greater than this is eligible for the bracket; a
                          request exactly at the bound stays in the lower bracket (so a base
                          bracket documented as "≤ 128k" is expressed as a tier with
                          `above_input_tokens: 128000`).
                        type: integer
                        format: uint64
                        minimum: 0
                      input_tokens:
                        $ref: '#/$defs/InputTokenPricing'
                      output_tokens:
                        $ref: '#/$defs/OutputTokenPricing'
                    required:
                    - above_input_tokens
                  FirstTokenLatencyMetrics:
                    type: object
                    properties:
                      p50_ms:
                        type:
                        - integer
                        - 'null'
                        format: uint64
                        minimum: 0
                      p95_ms:
                        type:
                        - integer
                        - 'null'
                        format: uint64
                        minimum: 0
                      sample_count:
                        type: integer
                        format: uint64
                        minimum: 0
                    required:
                    - sample_count
                  InputTokenPricing:
                    description: Input token pricing per million tokens.
                    type: object
                    properties:
                      cache_read:
                        description: Cost per million cache-read input tokens.
                        type:
                        - number
                        - 'null'
                        format: double
                      cache_write:
                        description: Cost per million cache-write input tokens.
                        type:
                        - number
                        - 'null'
                        format: double
                      no_cache:
                        description: Cost per million non-cached input tokens.
                        type:
                        - number
                        - 'null'
                        format: double
                  ModelPricing:
                    description: |-
                      Token pricing per million tokens for a model.

                      `input_tokens`/`output_tokens` are the **base bracket**: the rates for the
                      lowest context range and the fallback when no [`context_tiers`] entry
                      applies. When `context_tiers` is empty the pricing is a single flat rate
                      for every request size (the historical behaviour).

                      [`context_tiers`]: ModelPricing::context_tiers
                    type: object
                    properties:
                      context_tiers:
                        description: |-
                          Optional higher context brackets. Empty ⇒ flat pricing. The registry
                          validator enforces ascending, unique `above_input_tokens` and a
                          complete base bracket, so the per-request resolver does not depend on
                          list order.
                        type: array
                        items:
                          $ref: '#/$defs/ContextTier'
                      input_tokens:
                        $ref: '#/$defs/InputTokenPricing'
                      output_tokens:
                        $ref: '#/$defs/OutputTokenPricing'
                  OutputTokenPricing:
                    description: Output token pricing per million tokens.
                    type: object
                    properties:
                      audio:
                        description: Cost per million audio output tokens. Reserved — see `image`.
                        type:
                        - number
                        - 'null'
                        format: double
                      image:
                        description: |-
                          Cost per million image output tokens. Reserved — not yet wired
                          into `calculate_charge_micro_usd`.
                        type:
                        - number
                        - 'null'
                        format: double
                      reasoning:
                        description: Cost per million reasoning output tokens.
                        type:
                        - number
                        - 'null'
                        format: double
                      text:
                        description: Cost per million text output tokens.
                        type:
                        - number
                        - 'null'
                        format: double
                  OutputTokenThroughputMetrics:
                    type: object
                    properties:
                      p50_tokens_per_second:
                        type:
                        - number
                        - 'null'
                        format: double
                      p95_tokens_per_second:
                        type:
                        - number
                        - 'null'
                        format: double
                      sample_count:
                        type: integer
                        format: uint64
                        minimum: 0
                    required:
                    - sample_count
                  ProviderAggregateMetrics:
                    type: object
                    properties:
                      cache_hit_rate:
                        type: number
                        format: double
                      latency:
                        $ref: '#/$defs/ProviderLatencyMetrics'
                      p50_latency_ms:
                        description: |-
                          Request-weighted average of per-model p50 latencies. Not a true
                          cross-bucket p50 (that would need a separate query), but cheap
                          and close enough for a discovery panel.
                        type: integer
                        format: uint64
                        minimum: 0
                      request_count:
                        type: integer
                        format: uint64
                        minimum: 0
                      success_rate:
                        description: |-
                          Successful responses divided by (success + provider_error +
                          timeout). 0.0 when no scored requests fell in the window.
                        type: number
                        format: double
                      throughput:
                        $ref: '#/$defs/ProviderThroughputMetrics'
                    required:
                    - request_count
                    - success_rate
                    - p50_latency_ms
                    - latency
                    - throughput
                    - cache_hit_rate
                  ProviderCatalogEntry:
                    description: One provider as it appears to public discovery clients.
                    type: object
                    properties:
                      access:
                        description: |-
                          How a caller obtains access to this provider — see [`Access`]. Only
                          `api_key` providers accept a bring-your-own-key credential; the console
                          filters its BYOK page on `access == "api_key"`. (`local_oauth` /
                          `local_pkce` providers are not in this catalog at all — the router
                          cannot pool them — so in practice this is `api_key` or `private`.)
                        $ref: '#/$defs/Access'
                      aggregate:
                        $ref: '#/$defs/ProviderAggregateMetrics'
                      byok:
                        description: |-
                          `true` when a caller may bring their own key — derived alias of
                          `access == "api_key"`, kept for back-compat with existing clients.
                          `false` for the platform pool, which routes platform-only.
                        type: boolean
                      community:
                        description: |-
                          `true` for an unaffiliated community reseller; `false` (default) for
                          a first-party or official upstream.
                        type: boolean
                      id:
                        description: 'Stable public handle: the provider''s registry name.'
                        type: string
                      metadata:
                        anyOf:
                        - $ref: '#/$defs/ProviderMetadata'
                        - type: 'null'
                      metrics_window_seconds:
                        type: integer
                        format: uint64
                        minimum: 0
                      models:
                        type: array
                        items:
                          $ref: '#/$defs/ProviderModelCatalogEntry'
                      name:
                        description: |-
                          Human-readable provider name. Always present — providers are no
                          longer anonymized.
                        type: string
                      rate_limit:
                        $ref: '#/$defs/ProviderRateLimit'
                      status:
                        $ref: '#/$defs/ProviderStatus'
                    required:
                    - id
                    - name
                    - community
                    - access
                    - byok
                    - status
                    - rate_limit
                    - metrics_window_seconds
                    - aggregate
                    - models
                  ProviderLatencyMetrics:
                    type: object
                    properties:
                      first_token:
                        $ref: '#/$defs/FirstTokenLatencyMetrics'
                    required:
                    - first_token
                  ProviderMetadata:
                    description: |-
                      Public organization metadata for the provider responsible for a registry
                      `api_base`. Optional policy/status links are descriptive only; routing does
                      not depend on them.
                    type: object
                    properties:
                      headquarters:
                        description: |-
                          ISO 3166-1 alpha-2 country code for the provider organization's
                          headquarters.
                        type: string
                      name:
                        description: Human-readable organization or product name.
                        type: string
                      privacy_policy_url:
                        type:
                        - string
                        - 'null'
                        default: null
                      slug:
                        description: Stable UI/API slug for the organization or product.
                        type: string
                      status_page_url:
                        type:
                        - string
                        - 'null'
                        default: null
                      terms_of_service_url:
                        type:
                        - string
                        - 'null'
                        default: null
                    required:
                    - headquarters
                    - name
                    - slug
                  ProviderModelCatalogEntry:
                    type: object
                    properties:
                      hosted:
                        description: |-
                          `true` when this model is in the hosted set (OSS `models.json`).
                          `false` marks a BYOK/BYO-subscription extra, surfaced only on the
                          caller-scoped view when the caller has a key for this provider.
                        type: boolean
                      id:
                        description: |-
                          Canonical model id (e.g. `claude-sonnet-4-6`). The vendor's own
                          `provider_model_id` is deliberately not exposed.
                        type: string
                      metrics:
                        $ref: '#/$defs/ProviderModelMetrics'
                      pricing:
                        $ref: '#/$defs/ModelPricing'
                    required:
                    - id
                    - hosted
                    - pricing
                    - metrics
                  ProviderModelMetrics:
                    type: object
                    properties:
                      latency:
                        $ref: '#/$defs/ProviderLatencyMetrics'
                      p50_latency_ms:
                        type: integer
                        format: uint64
                        minimum: 0
                      request_count:
                        type: integer
                        format: uint64
                        minimum: 0
                      success_rate:
                        type: number
                        format: double
                      throughput:
                        $ref: '#/$defs/ProviderThroughputMetrics'
                    required:
                    - request_count
                    - success_rate
                    - p50_latency_ms
                    - latency
                    - throughput
                  ProviderRateLimit:
                    type: object
                    properties:
                      current_rpm:
                        description: In-process sliding-window admission count for this provider.
                        type: integer
                        format: uint32
                        minimum: 0
                      declared_rpm:
                        description: |-
                          Provider-wide declared RPM from the wildcard `*` pattern in
                          `rate_limits`. Omitted when the provider's YAML declares no
                          wildcard entry — per-model overrides are intentionally not
                          surfaced, since the response shape is one rate per provider.
                        type:
                        - integer
                        - 'null'
                        format: uint32
                        minimum: 0
                    required:
                    - current_rpm
                  ProviderStatus:
                    description: Provider lifecycle state.
                    type: string
                    enum:
                    - active
                    - staging
                    - suspended
                    - withdrawn
                  ProviderThroughputMetrics:
                    type: object
                    properties:
                      output_tokens:
                        $ref: '#/$defs/OutputTokenThroughputMetrics'
                    required:
                    - output_tokens
  /v1/stats/usage:
    get:
      tags:
      - Discovery
      summary: Platform token usage statistics
      description: |-
        Aggregate token usage across the whole platform for a rolling window, bucketed by day and broken down by model. Public and unauthenticated — these are published figures, not per-account usage; for that see `GET /v1/namespaces/{nsid}/usage`.

        Counts only requests that succeeded. `completion_tokens` already includes `reasoning_tokens`, so `total_tokens` is `prompt_tokens + completion_tokens` — adding reasoning on top double-counts. Served from a 5-minute cache.
      operationId: getUsageStats
      parameters:
      - in: query
        name: days
        description: Window length in days, 1–90 (default 14). Out-of-range values are clamped.
        schema:
          type: string
        style: form
      - in: query
        name: top
        description: How many models to break out per day in `series` before the tail is folded into an `other` bucket, 1–25 (default 8). Does not truncate the `models` array.
        schema:
          type: string
        style: form
      responses:
        '200':
          description: Platform-wide token usage for the requested window.
          content:
            application/json:
              schema:
                $schema: https://json-schema.org/draft/2020-12/schema
                title: UsageStatsResponse
                type: object
                properties:
                  models:
                    description: |-
                      Every model with traffic in the window, busiest first. Not truncated —
                      `top` only controls the per-day `series` breakdown.
                    type: array
                    items:
                      $ref: '#/$defs/ModelUsage'
                  open_weight_token_share:
                    description: |-
                      Share of `totals.total_tokens` served by open-weight models, over the
                      tokens whose licensing is known. `null` when no such traffic exists in
                      the window — distinct from `0.0`, which means known-and-none.
                    type:
                    - number
                    - 'null'
                    format: double
                  series:
                    type: array
                    items:
                      $ref: '#/$defs/UsageDay'
                  totals:
                    $ref: '#/$defs/UsageTotals'
                  window:
                    $ref: '#/$defs/UsageWindow'
                required:
                - window
                - totals
                - models
                - series
                $defs:
                  ModelUsage:
                    type: object
                    properties:
                      completion_tokens:
                        type: integer
                        format: int64
                      id:
                        type: string
                      open_weights:
                        description: |-
                          Open-weight licensing from the registry; omitted when the model is not
                          a canonical declaration. Absent means unknown, never "proprietary".
                        type:
                        - boolean
                        - 'null'
                      prompt_tokens:
                        type: integer
                        format: int64
                      request_count:
                        type: integer
                        format: int64
                      token_share:
                        description: This model's share of `totals.total_tokens`, 0.0–1.0.
                        type: number
                        format: double
                      total_tokens:
                        type: integer
                        format: int64
                    required:
                    - id
                    - prompt_tokens
                    - completion_tokens
                    - total_tokens
                    - request_count
                    - token_share
                  UsageDay:
                    type: object
                    properties:
                      by_model:
                        description: |-
                          Tokens per broken-out model for this day, plus an `other` key carrying
                          the folded tail. Models with no traffic on a given day are omitted
                          rather than reported as zero.
                        type: object
                        additionalProperties:
                          type: integer
                          format: int64
                      date:
                        type: string
                        format: date
                      request_count:
                        type: integer
                        format: int64
                      total_tokens:
                        type: integer
                        format: int64
                    required:
                    - date
                    - total_tokens
                    - request_count
                    - by_model
                  UsageTotals:
                    type: object
                    properties:
                      completion_tokens:
                        description: Total output tokens, inclusive of `reasoning_tokens`.
                        type: integer
                        format: int64
                      prompt_tokens:
                        type: integer
                        format: int64
                      reasoning_tokens:
                        description: Subset of `completion_tokens`, reported for detail. Not additive.
                        type: integer
                        format: int64
                      request_count:
                        type: integer
                        format: int64
                      total_tokens:
                        description: '`prompt_tokens + completion_tokens`.'
                        type: integer
                        format: int64
                    required:
                    - prompt_tokens
                    - completion_tokens
                    - reasoning_tokens
                    - total_tokens
                    - request_count
                  UsageWindow:
                    type: object
                    properties:
                      bucket:
                        description: Bucket granularity of `series`. Always `day` today.
                        type: string
                      days:
                        type: integer
                        format: uint16
                        maximum: 65535
                        minimum: 0
                      from:
                        type: string
                        format: date-time
                      to:
                        type: string
                        format: date-time
                    required:
                    - from
                    - to
                    - days
                    - bucket
  /v1/byok/encryption-pubkey:
    get:
      tags:
      - BYOK
      summary: Get BYOK sealed-box public key
      description: |-
        Returns the node's current X25519 sealed-box public key plus its `kek_id` fingerprint. The console encrypts the user's provider key against this pubkey before storing the ciphertext — the node never sees plaintext on the write path.

        Honors `If-None-Match: "<kek_id>"` for cheap caching, returning `304 Not Modified` when the cached fingerprint still matches.
      operationId: getEncryptionPubkey
      parameters:
      - in: header
        name: If-None-Match
        description: Quoted `kek_id` from a prior response.
        schema:
          type: string
        style: simple
      responses:
        '200':
          description: Current sealed-box public key.
          headers:
            ETag:
              description: Quoted `kek_id` of the returned key.
              style: simple
              schema:
                type: string
            Cache-Control:
              description: '`private, max-age=300` — encourages a 5-minute client cache.'
              style: simple
              schema:
                type: string
          content:
            application/json:
              schema:
                $schema: https://json-schema.org/draft/2020-12/schema
                title: EncryptionPubkeyResponse
                description: |-
                  Response body for `GET /v1/byok/encryption-pubkey`. Carries the current
                  sealed-box public key plus its fingerprint so the console can encrypt
                  provider keys against it.
                type: object
                properties:
                  kek_id:
                    description: |-
                      Fingerprint of the current sealed-box keypair. Pin this when caching;
                      pass it back via `If-None-Match` to short-circuit on `304 Not Modified`.
                    type: string
                  public_key:
                    description: |-
                      Base64-encoded X25519 public key. Use it with libsodium's `crypto_box_seal`
                      (or any sealed-box implementation) to encrypt provider keys client-side.
                    type: string
                required:
                - kek_id
                - public_key
        '304':
          description: Cached `kek_id` still matches — body is empty.
  /metrics:
    get:
      tags:
      - Observability
      summary: Prometheus metrics scrape
      description: |-
        Returns Prometheus-format metrics for ingestion by a scraper. Not intended for human callers — point Prometheus, Grafana Agent, or any OpenMetrics-compatible collector at this endpoint.

        Responds `404 Not Found` when the node was built or configured without a metrics renderer; scrapers can use that as a feature probe.
      operationId: getMetrics
      responses:
        '200':
          description: Prometheus-format metrics — counters, gauges, and histograms covering routing decisions, upstream latency, and credit settlement.
          content:
            text/plain:
              schema:
                description: Prometheus text-exposition format (version 0.0.4).
                type: string
        '404':
          description: Metrics renderer is not configured on this node — scrapers can use the 404 to probe whether `/metrics` is enabled.
  /v1/namespaces:
    get:
      tags:
      - Management
      summary: List the caller's namespaces
      description: |-
        Every live namespace owned by the calling user, oldest first.

        _Requires the `namespace:read` scope._
      operationId: listNamespaces
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                type: object
        '401':
          description: Credential missing or did not verify.
          content:
            application/json:
              schema:
                $schema: https://json-schema.org/draft/2020-12/schema
                title: ManagementErrorResponseDoc
                description: |-
                  Management API error envelope. This intentionally differs from the
                  OpenAI-compatible inference error shape above.
                type: object
                properties:
                  error:
                    description: Stable management error name.
                    type: string
                  error_description:
                    description: Human-readable management error description.
                    type: string
                required:
                - error
                - error_description
        '403':
          description: Credential is valid but lacks the required scope.
          content:
            application/json:
              schema:
                $schema: https://json-schema.org/draft/2020-12/schema
                title: ManagementErrorResponseDoc
                description: |-
                  Management API error envelope. This intentionally differs from the
                  OpenAI-compatible inference error shape above.
                type: object
                properties:
                  error:
                    description: Stable management error name.
                    type: string
                  error_description:
                    description: Human-readable management error description.
                    type: string
                required:
                - error
                - error_description
        '404':
          description: Resource not found (or owned by a different account).
          content:
            application/json:
              schema:
                $schema: https://json-schema.org/draft/2020-12/schema
                title: ManagementErrorResponseDoc
                description: |-
                  Management API error envelope. This intentionally differs from the
                  OpenAI-compatible inference error shape above.
                type: object
                properties:
                  error:
                    description: Stable management error name.
                    type: string
                  error_description:
                    description: Human-readable management error description.
                    type: string
                required:
                - error
                - error_description
      security:
      - ApiKeyHeader: []
      - BearerAuth: []
    post:
      tags:
      - Management
      summary: Create a namespace
      description: |-
        Creates a namespace owned by the caller. The name must be unique among the caller's live namespaces (409 on collision).

        _Requires the `namespace:write` scope._
      operationId: createNamespace
      requestBody:
        description: Request body. See the endpoint description for shape.
        content:
          application/json:
            schema:
              type: object
        required: true
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                type: object
        '401':
          description: Credential missing or did not verify.
          content:
            application/json:
              schema:
                $schema: https://json-schema.org/draft/2020-12/schema
                title: ManagementErrorResponseDoc
                description: |-
                  Management API error envelope. This intentionally differs from the
                  OpenAI-compatible inference error shape above.
                type: object
                properties:
                  error:
                    description: Stable management error name.
                    type: string
                  error_description:
                    description: Human-readable management error description.
                    type: string
                required:
                - error
                - error_description
        '403':
          description: Credential is valid but lacks the required scope.
          content:
            application/json:
              schema:
                $schema: https://json-schema.org/draft/2020-12/schema
                title: ManagementErrorResponseDoc
                description: |-
                  Management API error envelope. This intentionally differs from the
                  OpenAI-compatible inference error shape above.
                type: object
                properties:
                  error:
                    description: Stable management error name.
                    type: string
                  error_description:
                    description: Human-readable management error description.
                    type: string
                required:
                - error
                - error_description
        '404':
          description: Resource not found (or owned by a different account).
          content:
            application/json:
              schema:
                $schema: https://json-schema.org/draft/2020-12/schema
                title: ManagementErrorResponseDoc
                description: |-
                  Management API error envelope. This intentionally differs from the
                  OpenAI-compatible inference error shape above.
                type: object
                properties:
                  error:
                    description: Stable management error name.
                    type: string
                  error_description:
                    description: Human-readable management error description.
                    type: string
                required:
                - error
                - error_description
      security:
      - ApiKeyHeader: []
      - BearerAuth: []
  /v1/namespaces/{nsid}:
    delete:
      tags:
      - Management
      summary: Delete a namespace and cascade its resources
      description: |-
        Ownership-checked. Refuses the caller's last namespace (409). Destroys the namespace's keys, OAuth tokens/clients, and policies; archives the row; detaches usage history. The wallet and BYOK keys (user-keyed) are retained.

        _Requires the `namespace:write` scope._
      operationId: deleteNamespace
      parameters:
      - in: path
        name: nsid
        description: Id of the target namespace. Must be owned by the caller (or equal a namespace-baked credential's own namespace), else 404.
        required: true
        schema:
          type: string
        style: simple
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                type: object
        '401':
          description: Credential missing or did not verify.
          content:
            application/json:
              schema:
                $schema: https://json-schema.org/draft/2020-12/schema
                title: ManagementErrorResponseDoc
                description: |-
                  Management API error envelope. This intentionally differs from the
                  OpenAI-compatible inference error shape above.
                type: object
                properties:
                  error:
                    description: Stable management error name.
                    type: string
                  error_description:
                    description: Human-readable management error description.
                    type: string
                required:
                - error
                - error_description
        '403':
          description: Credential is valid but lacks the required scope.
          content:
            application/json:
              schema:
                $schema: https://json-schema.org/draft/2020-12/schema
                title: ManagementErrorResponseDoc
                description: |-
                  Management API error envelope. This intentionally differs from the
                  OpenAI-compatible inference error shape above.
                type: object
                properties:
                  error:
                    description: Stable management error name.
                    type: string
                  error_description:
                    description: Human-readable management error description.
                    type: string
                required:
                - error
                - error_description
        '404':
          description: Resource not found (or owned by a different account).
          content:
            application/json:
              schema:
                $schema: https://json-schema.org/draft/2020-12/schema
                title: ManagementErrorResponseDoc
                description: |-
                  Management API error envelope. This intentionally differs from the
                  OpenAI-compatible inference error shape above.
                type: object
                properties:
                  error:
                    description: Stable management error name.
                    type: string
                  error_description:
                    description: Human-readable management error description.
                    type: string
                required:
                - error
                - error_description
      security:
      - ApiKeyHeader: []
      - BearerAuth: []
  /v1/account:
    get:
      tags:
      - Management
      summary: Read the caller's user profile
      description: |-
        Returns id, email, display_name, created_at.

        _Requires the `user:read` scope._
      operationId: getAccount
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                type: object
        '401':
          description: Credential missing or did not verify.
          content:
            application/json:
              schema:
                $schema: https://json-schema.org/draft/2020-12/schema
                title: ManagementErrorResponseDoc
                description: |-
                  Management API error envelope. This intentionally differs from the
                  OpenAI-compatible inference error shape above.
                type: object
                properties:
                  error:
                    description: Stable management error name.
                    type: string
                  error_description:
                    description: Human-readable management error description.
                    type: string
                required:
                - error
                - error_description
        '403':
          description: Credential is valid but lacks the required scope.
          content:
            application/json:
              schema:
                $schema: https://json-schema.org/draft/2020-12/schema
                title: ManagementErrorResponseDoc
                description: |-
                  Management API error envelope. This intentionally differs from the
                  OpenAI-compatible inference error shape above.
                type: object
                properties:
                  error:
                    description: Stable management error name.
                    type: string
                  error_description:
                    description: Human-readable management error description.
                    type: string
                required:
                - error
                - error_description
        '404':
          description: Resource not found (or owned by a different account).
          content:
            application/json:
              schema:
                $schema: https://json-schema.org/draft/2020-12/schema
                title: ManagementErrorResponseDoc
                description: |-
                  Management API error envelope. This intentionally differs from the
                  OpenAI-compatible inference error shape above.
                type: object
                properties:
                  error:
                    description: Stable management error name.
                    type: string
                  error_description:
                    description: Human-readable management error description.
                    type: string
                required:
                - error
                - error_description
      security:
      - ApiKeyHeader: []
      - BearerAuth: []
    delete:
      tags:
      - Management
      summary: Delete the caller's account
      description: |-
        Rust-first account deletion: destroys every credential under the user (API keys, OAuth tokens/clients, BYOK keys), archives all owned namespaces, and tombstones the IdP subject so the account cannot be re-provisioned. Irreversible; the caller's own session is revoked.

        _Requires the `user:write` scope._
      operationId: deleteAccount
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                type: object
        '401':
          description: Credential missing or did not verify.
          content:
            application/json:
              schema:
                $schema: https://json-schema.org/draft/2020-12/schema
                title: ManagementErrorResponseDoc
                description: |-
                  Management API error envelope. This intentionally differs from the
                  OpenAI-compatible inference error shape above.
                type: object
                properties:
                  error:
                    description: Stable management error name.
                    type: string
                  error_description:
                    description: Human-readable management error description.
                    type: string
                required:
                - error
                - error_description
        '403':
          description: Credential is valid but lacks the required scope.
          content:
            application/json:
              schema:
                $schema: https://json-schema.org/draft/2020-12/schema
                title: ManagementErrorResponseDoc
                description: |-
                  Management API error envelope. This intentionally differs from the
                  OpenAI-compatible inference error shape above.
                type: object
                properties:
                  error:
                    description: Stable management error name.
                    type: string
                  error_description:
                    description: Human-readable management error description.
                    type: string
                required:
                - error
                - error_description
        '404':
          description: Resource not found (or owned by a different account).
          content:
            application/json:
              schema:
                $schema: https://json-schema.org/draft/2020-12/schema
                title: ManagementErrorResponseDoc
                description: |-
                  Management API error envelope. This intentionally differs from the
                  OpenAI-compatible inference error shape above.
                type: object
                properties:
                  error:
                    description: Stable management error name.
                    type: string
                  error_description:
                    description: Human-readable management error description.
                    type: string
                required:
                - error
                - error_description
      security:
      - ApiKeyHeader: []
      - BearerAuth: []
    patch:
      tags:
      - Management
      summary: Update the caller's profile
      description: |-
        Edits the one user-mutable field, `display_name`. `email` and the IdP identifier are read-only here.

        _Requires the `user:write` scope._
      operationId: updateAccount
      requestBody:
        description: Request body. See the endpoint description for shape.
        content:
          application/json:
            schema:
              type: object
        required: true
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                type: object
        '401':
          description: Credential missing or did not verify.
          content:
            application/json:
              schema:
                $schema: https://json-schema.org/draft/2020-12/schema
                title: ManagementErrorResponseDoc
                description: |-
                  Management API error envelope. This intentionally differs from the
                  OpenAI-compatible inference error shape above.
                type: object
                properties:
                  error:
                    description: Stable management error name.
                    type: string
                  error_description:
                    description: Human-readable management error description.
                    type: string
                required:
                - error
                - error_description
        '403':
          description: Credential is valid but lacks the required scope.
          content:
            application/json:
              schema:
                $schema: https://json-schema.org/draft/2020-12/schema
                title: ManagementErrorResponseDoc
                description: |-
                  Management API error envelope. This intentionally differs from the
                  OpenAI-compatible inference error shape above.
                type: object
                properties:
                  error:
                    description: Stable management error name.
                    type: string
                  error_description:
                    description: Human-readable management error description.
                    type: string
                required:
                - error
                - error_description
        '404':
          description: Resource not found (or owned by a different account).
          content:
            application/json:
              schema:
                $schema: https://json-schema.org/draft/2020-12/schema
                title: ManagementErrorResponseDoc
                description: |-
                  Management API error envelope. This intentionally differs from the
                  OpenAI-compatible inference error shape above.
                type: object
                properties:
                  error:
                    description: Stable management error name.
                    type: string
                  error_description:
                    description: Human-readable management error description.
                    type: string
                required:
                - error
                - error_description
      security:
      - ApiKeyHeader: []
      - BearerAuth: []
  /v1/access-codes/me:
    get:
      tags:
      - Management
      summary: Get the caller's current access code
      description: |-
        Returns the repository-configured policy bound to the caller, its validity status, and optional quota consumption. Returns 404 when the caller has no code binding.

        _Requires the `user:read` scope._
      operationId: getCurrentAccessCode
      responses:
        '200':
          description: Current access code status.
          content:
            application/json:
              schema:
                $schema: https://json-schema.org/draft/2020-12/schema
                title: AccessCodeStatus
                type: object
                properties:
                  code:
                    type: string
                  ends_at:
                    type:
                    - string
                    - 'null'
                    format: date-time
                  policy_id:
                    type: string
                  quota:
                    anyOf:
                    - $ref: '#/$defs/AccessCodeQuotaStatus'
                    - type: 'null'
                  starts_at:
                    type:
                    - string
                    - 'null'
                    format: date-time
                  status:
                    type: string
                required:
                - policy_id
                - code
                - status
                $defs:
                  AccessCodeQuotaStatus:
                    type: object
                    properties:
                      consumed:
                        type: integer
                        format: int64
                      limit:
                        type: integer
                        format: int64
                      unit:
                        type: string
                    required:
                    - unit
                    - limit
                    - consumed
        '401':
          description: Credential missing or did not verify.
          content:
            application/json:
              schema:
                $schema: https://json-schema.org/draft/2020-12/schema
                title: ManagementErrorResponseDoc
                description: |-
                  Management API error envelope. This intentionally differs from the
                  OpenAI-compatible inference error shape above.
                type: object
                properties:
                  error:
                    description: Stable management error name.
                    type: string
                  error_description:
                    description: Human-readable management error description.
                    type: string
                required:
                - error
                - error_description
        '403':
          description: Credential is valid but lacks the required scope.
          content:
            application/json:
              schema:
                $schema: https://json-schema.org/draft/2020-12/schema
                title: ManagementErrorResponseDoc
                description: |-
                  Management API error envelope. This intentionally differs from the
                  OpenAI-compatible inference error shape above.
                type: object
                properties:
                  error:
                    description: Stable management error name.
                    type: string
                  error_description:
                    description: Human-readable management error description.
                    type: string
                required:
                - error
                - error_description
        '404':
          description: Resource not found (or owned by a different account).
          content:
            application/json:
              schema:
                $schema: https://json-schema.org/draft/2020-12/schema
                title: ManagementErrorResponseDoc
                description: |-
                  Management API error envelope. This intentionally differs from the
                  OpenAI-compatible inference error shape above.
                type: object
                properties:
                  error:
                    description: Stable management error name.
                    type: string
                  error_description:
                    description: Human-readable management error description.
                    type: string
                required:
                - error
                - error_description
      security:
      - ApiKeyHeader: []
      - BearerAuth: []
  /v1/access-codes/claim:
    post:
      tags:
      - Management
      summary: Claim an access code
      description: |-
        Claims an active code-filtered Access Policy. Re-claiming the same code is idempotent; claiming a different code while the current policy is active returns 409. Unknown or inactive codes return 404.

        _Requires the `user:write` scope._
      operationId: claimAccessCode
      requestBody:
        description: Access code claim request.
        content:
          application/json:
            schema:
              $schema: https://json-schema.org/draft/2020-12/schema
              title: ClaimAccessCodeRequest
              type: object
              properties:
                code:
                  type: string
              required:
              - code
        required: true
      responses:
        '200':
          description: Claimed access code status.
          content:
            application/json:
              schema:
                $schema: https://json-schema.org/draft/2020-12/schema
                title: AccessCodeStatus
                type: object
                properties:
                  code:
                    type: string
                  ends_at:
                    type:
                    - string
                    - 'null'
                    format: date-time
                  policy_id:
                    type: string
                  quota:
                    anyOf:
                    - $ref: '#/$defs/AccessCodeQuotaStatus'
                    - type: 'null'
                  starts_at:
                    type:
                    - string
                    - 'null'
                    format: date-time
                  status:
                    type: string
                required:
                - policy_id
                - code
                - status
                $defs:
                  AccessCodeQuotaStatus:
                    type: object
                    properties:
                      consumed:
                        type: integer
                        format: int64
                      limit:
                        type: integer
                        format: int64
                      unit:
                        type: string
                    required:
                    - unit
                    - limit
                    - consumed
        '401':
          description: Credential missing or did not verify.
          content:
            application/json:
              schema:
                $schema: https://json-schema.org/draft/2020-12/schema
                title: ManagementErrorResponseDoc
                description: |-
                  Management API error envelope. This intentionally differs from the
                  OpenAI-compatible inference error shape above.
                type: object
                properties:
                  error:
                    description: Stable management error name.
                    type: string
                  error_description:
                    description: Human-readable management error description.
                    type: string
                required:
                - error
                - error_description
        '403':
          description: Credential is valid but lacks the required scope.
          content:
            application/json:
              schema:
                $schema: https://json-schema.org/draft/2020-12/schema
                title: ManagementErrorResponseDoc
                description: |-
                  Management API error envelope. This intentionally differs from the
                  OpenAI-compatible inference error shape above.
                type: object
                properties:
                  error:
                    description: Stable management error name.
                    type: string
                  error_description:
                    description: Human-readable management error description.
                    type: string
                required:
                - error
                - error_description
        '404':
          description: Resource not found (or owned by a different account).
          content:
            application/json:
              schema:
                $schema: https://json-schema.org/draft/2020-12/schema
                title: ManagementErrorResponseDoc
                description: |-
                  Management API error envelope. This intentionally differs from the
                  OpenAI-compatible inference error shape above.
                type: object
                properties:
                  error:
                    description: Stable management error name.
                    type: string
                  error_description:
                    description: Human-readable management error description.
                    type: string
                required:
                - error
                - error_description
      security:
      - ApiKeyHeader: []
      - BearerAuth: []
  /v1/requests/{request_id}/settlement:
    get:
      tags:
      - Management
      summary: Get settlement for one invoked request
      description: |-
        Returns only a request owned by the exact invoking credential. A request owned by another key is indistinguishable from an absent request (404). The response contains content-free usage, authoritative calculation/collection states, and the complete versioned immutable billing audit when present; it never includes prompt, response, or credential material.

        _Requires the `inference:invoke` scope._
      operationId: getRequestSettlement
      parameters:
      - in: path
        name: request_id
        description: Stable request id returned by the inference API.
        required: true
        schema:
          type: string
        style: simple
      responses:
        '200':
          description: Request-scoped settlement receipt.
          content:
            application/json:
              schema:
                $schema: https://json-schema.org/draft/2020-12/schema
                title: RequestSettlementResponseDoc
                description: |-
                  Request-scoped settlement receipt returned to the inference credential
                  that invoked the request. No prompt or response payload is exposed.
                type: object
                properties:
                  billing_audit:
                    $ref: '#/$defs/NullableDoc4'
                  billing_collection_status:
                    $ref: '#/$defs/BillingCollectionStatusDoc'
                  billing_fallbacks:
                    $ref: '#/$defs/NullableDoc3'
                  billing_status:
                    $ref: '#/$defs/BillingStatusProjectionDoc'
                  final_charge_micro_usd:
                    $ref: '#/$defs/NullableDoc2'
                  model_id:
                    $ref: '#/$defs/NullableDoc'
                  provider_id:
                    $ref: '#/$defs/NullableDoc'
                  request_id:
                    type: string
                  state:
                    description: |-
                      One of `pending`, `settlement_missing`, `computed`, `not_charged`, or
                      `unknown`.
                    $ref: '#/$defs/RequestSettlementStateDoc'
                  usage:
                    $ref: '#/$defs/RequestSettlementUsageDoc'
                required:
                - request_id
                - state
                - model_id
                - provider_id
                - usage
                - final_charge_micro_usd
                - billing_status
                - billing_fallbacks
                - billing_collection_status
                - billing_audit
                $defs:
                  BillingBillableUsageDoc:
                    type: object
                    properties:
                      input_cache_read_tokens:
                        type: integer
                        format: uint64
                        minimum: 0
                      input_cache_write_tokens:
                        type: integer
                        format: uint64
                        minimum: 0
                      input_no_cache_tokens:
                        type: integer
                        format: uint64
                        minimum: 0
                      output_reasoning_tokens:
                        type: integer
                        format: uint64
                        minimum: 0
                      output_text_tokens:
                        type: integer
                        format: uint64
                        minimum: 0
                    required:
                    - input_no_cache_tokens
                    - input_cache_read_tokens
                    - input_cache_write_tokens
                    - output_text_tokens
                    - output_reasoning_tokens
                  BillingChargeBucketDoc:
                    type: string
                    enum:
                    - input_no_cache
                    - input_cache_read
                    - input_cache_write
                    - output_text
                    - output_reasoning
                  BillingChargeLineDoc:
                    type: object
                    properties:
                      billable_tokens:
                        type: integer
                        format: uint64
                        minimum: 0
                      bucket:
                        $ref: '#/$defs/BillingChargeBucketDoc'
                      normalized_rate_micro_usd_per_million:
                        $ref: '#/$defs/BillingIntegerDoc'
                      scaled_numerator:
                        $ref: '#/$defs/BillingIntegerDoc'
                    required:
                    - bucket
                    - billable_tokens
                    - normalized_rate_micro_usd_per_million
                    - scaled_numerator
                  BillingCollectionStatusDoc:
                    type: string
                    enum:
                    - pending
                    - prepared
                    - booked
                    - applied
                    - manual_review
                    - not_applicable
                    - collection_missing
                    - manual_reconciliation
                    - legacy_unknown
                  BillingContextTierSnapshotDoc:
                    type: object
                    properties:
                      above_input_tokens:
                        type: integer
                        format: uint64
                        minimum: 0
                      rates:
                        $ref: '#/$defs/BillingPricingRatesSnapshotDoc'
                    required:
                    - above_input_tokens
                    - rates
                  BillingDecisionDoc:
                    type: object
                    properties:
                      billable_usage:
                        $ref: '#/$defs/BillingBillableUsageDoc'
                      calculator_version:
                        type: string
                      charge_breakdown:
                        type: array
                        items:
                          $ref: '#/$defs/BillingChargeLineDoc'
                      collection_required:
                        type: boolean
                      discount_snapshot:
                        $ref: '#/$defs/NullableDoc13'
                      fallbacks:
                        type: array
                        items:
                          $ref: '#/$defs/BillingFallbackDoc'
                      final_charge_micro_usd:
                        $ref: '#/$defs/NullableDoc2'
                      normalized_pricing:
                        $ref: '#/$defs/BillingNormalizedPricingDoc'
                      pre_discount_charge_micro_usd:
                        $ref: '#/$defs/NullableDoc2'
                      reported_usage:
                        $ref: '#/$defs/BillingReportedUsageDoc'
                      request_succeeded:
                        description: Immutable success/failure input used by the versioned calculator.
                        type: boolean
                      status:
                        $ref: '#/$defs/BillingStatusDoc'
                      usage_capped:
                        type: boolean
                      usage_evidence:
                        $ref: '#/$defs/BillingUsageEvidenceDoc'
                    required:
                    - status
                    - request_succeeded
                    - calculator_version
                    - reported_usage
                    - usage_evidence
                    - billable_usage
                    - normalized_pricing
                    - charge_breakdown
                    - fallbacks
                    - usage_capped
                    - discount_snapshot
                    - pre_discount_charge_micro_usd
                    - final_charge_micro_usd
                    - collection_required
                  BillingDiscountSnapshotDoc:
                    type: object
                    properties:
                      factor_bps:
                        type: integer
                        format: uint16
                        maximum: 65535
                        minimum: 0
                      input_charge_micro_usd:
                        $ref: '#/$defs/NullableDoc2'
                      output_charge_micro_usd:
                        $ref: '#/$defs/NullableDoc2'
                      source:
                        $ref: '#/$defs/BillingDiscountSourceDoc'
                    required:
                    - source
                    - factor_bps
                    - input_charge_micro_usd
                    - output_charge_micro_usd
                  BillingDiscountSourceDoc:
                    type: string
                    enum:
                    - policy_v2
                    - legacy_promotion
                  BillingFallbackDoc:
                    type: string
                    enum:
                    - cache_read_to_no_cache
                    - cache_write_to_no_cache
                    - reasoning_to_text
                  BillingIntegerDoc:
                    description: |-
                      The calculator serializes i128 evidence as a JSON integer while it fits a
                      JSON integer branch and as a decimal string outside the u64 range.
                    anyOf:
                    - type: integer
                      format: int64
                    - type: integer
                      format: uint64
                      minimum: 0
                    - type: string
                  BillingNormalizedPricingDoc:
                    type: object
                    properties:
                      input_cache_read:
                        $ref: '#/$defs/NullableDoc11'
                      input_cache_write:
                        $ref: '#/$defs/NullableDoc11'
                      input_no_cache:
                        $ref: '#/$defs/NullableDoc11'
                      output_audio:
                        $ref: '#/$defs/NullableDoc11'
                      output_image:
                        $ref: '#/$defs/NullableDoc11'
                      output_reasoning:
                        $ref: '#/$defs/NullableDoc11'
                      output_text:
                        $ref: '#/$defs/NullableDoc11'
                    required:
                    - input_no_cache
                    - input_cache_read
                    - input_cache_write
                    - output_text
                    - output_reasoning
                    - output_image
                    - output_audio
                  BillingNormalizedRateDoc:
                    type: object
                    properties:
                      micro_usd_per_million:
                        $ref: '#/$defs/NullableDoc12'
                      source_usd_per_million:
                        type: string
                    required:
                    - source_usd_per_million
                    - micro_usd_per_million
                  BillingPricingRatesSnapshotDoc:
                    type: object
                    properties:
                      input_cache_read:
                        $ref: '#/$defs/NullableDoc'
                      input_cache_write:
                        $ref: '#/$defs/NullableDoc'
                      input_no_cache:
                        $ref: '#/$defs/NullableDoc'
                      output_audio:
                        $ref: '#/$defs/NullableDoc'
                      output_image:
                        $ref: '#/$defs/NullableDoc'
                      output_reasoning:
                        $ref: '#/$defs/NullableDoc'
                      output_text:
                        $ref: '#/$defs/NullableDoc'
                    required:
                    - input_no_cache
                    - input_cache_read
                    - input_cache_write
                    - output_text
                    - output_reasoning
                    - output_image
                    - output_audio
                  BillingPricingSnapshotDoc:
                    type: object
                    properties:
                      base:
                        $ref: '#/$defs/BillingPricingRatesSnapshotDoc'
                      context_tiers:
                        type: array
                        items:
                          $ref: '#/$defs/BillingContextTierSnapshotDoc'
                    required:
                    - base
                    - context_tiers
                  BillingProviderUsageDoc:
                    type: object
                    properties:
                      cache_read_tokens:
                        type: integer
                        format: uint64
                        minimum: 0
                      cache_write_tokens:
                        type: integer
                        format: uint64
                        minimum: 0
                      completion_tokens:
                        type: integer
                        format: uint64
                        minimum: 0
                      prompt_tokens:
                        type: integer
                        format: uint64
                        minimum: 0
                      reasoning_tokens:
                        type: integer
                        format: uint64
                        minimum: 0
                      web_search_count:
                        type: integer
                        format: uint64
                        minimum: 0
                    required:
                    - prompt_tokens
                    - completion_tokens
                    - reasoning_tokens
                    - cache_read_tokens
                    - cache_write_tokens
                    - web_search_count
                  BillingRawUsageFrameDoc:
                    type: object
                    properties:
                      account_label:
                        $ref: '#/$defs/NullableDoc'
                      attempt_ordinal:
                        type: integer
                        format: uint64
                        minimum: 0
                      frame_kind:
                        $ref: '#/$defs/BillingRawUsageFrameKindDoc'
                      frame_ordinal:
                        type: integer
                        format: uint64
                        minimum: 0
                      provider_id:
                        type: string
                      provider_model_id:
                        type: string
                      usage:
                        $ref: '#/$defs/BillingProviderUsageDoc'
                    required:
                    - attempt_ordinal
                    - frame_ordinal
                    - frame_kind
                    - provider_id
                    - provider_model_id
                    - account_label
                    - usage
                  BillingRawUsageFrameKindDoc:
                    type: string
                    enum:
                    - usage
                    - response_completed
                  BillingRegistrySnapshotDoc:
                    type: object
                    properties:
                      content_sha256:
                        type: string
                      loaded_at:
                        type: string
                        format: date-time
                      source_ref:
                        type: string
                    required:
                    - source_ref
                    - content_sha256
                    - loaded_at
                  BillingReportedUsageDoc:
                    type: object
                    properties:
                      cache_read_tokens:
                        type: integer
                        format: uint64
                        minimum: 0
                      cache_write_tokens:
                        type: integer
                        format: uint64
                        minimum: 0
                      completion_tokens:
                        type: integer
                        format: uint64
                        minimum: 0
                      media_input_count:
                        type: integer
                        format: uint64
                        minimum: 0
                      media_output_count:
                        type: integer
                        format: uint64
                        minimum: 0
                      prompt_tokens:
                        type: integer
                        format: uint64
                        minimum: 0
                      reasoning_tokens:
                        type: integer
                        format: uint64
                        minimum: 0
                      web_search_count:
                        type: integer
                        format: uint64
                        minimum: 0
                    required:
                    - prompt_tokens
                    - cache_read_tokens
                    - cache_write_tokens
                    - completion_tokens
                    - reasoning_tokens
                    - web_search_count
                    - media_input_count
                    - media_output_count
                  BillingRouteSnapshotDoc:
                    type: object
                    properties:
                      account_label:
                        $ref: '#/$defs/NullableDoc'
                      byok_used:
                        type: boolean
                      canonical_model_id:
                        type: string
                      pricing:
                        $ref: '#/$defs/BillingPricingSnapshotDoc'
                      provider_id:
                        type: string
                      provider_model_id:
                        type: string
                      registry:
                        $ref: '#/$defs/BillingRegistrySnapshotDoc'
                    required:
                    - provider_id
                    - provider_model_id
                    - account_label
                    - canonical_model_id
                    - pricing
                    - registry
                    - byok_used
                  BillingStatusDoc:
                    type: string
                    enum:
                    - computed
                    - computed_with_fallback
                    - computed_zero
                    - byok
                    - pricing_unavailable
                    - invalid_pricing
                    - invalid_usage
                    - arithmetic_overflow
                    - failed_not_charged
                  BillingStatusProjectionDoc:
                    description: |-
                      Read-time billing projection. `legacy_inconsistent` identifies a legacy
                      terminal failed/cancelled/rejected request that conflicts with a persisted
                      numeric charge; the amount is withheld. It is not an immutable billing
                      decision status.
                    type: string
                    enum:
                    - computed
                    - computed_with_fallback
                    - computed_zero
                    - byok
                    - pricing_unavailable
                    - invalid_pricing
                    - invalid_usage
                    - arithmetic_overflow
                    - failed_not_charged
                    - settlement_missing
                    - legacy_computed
                    - legacy_inconsistent
                    - legacy_unknown
                    - legacy_not_charged
                  BillingUsageEstimatorSnapshotDoc:
                    type: object
                    properties:
                      chars_per_token:
                        type: integer
                        format: uint64
                        minimum: 0
                      version:
                        description: |-
                          Immutable internal estimator identifier: 1–256 ASCII bytes matching
                          `[A-Za-z0-9][A-Za-z0-9._:/-]*`.
                        type: string
                    required:
                    - version
                    - chars_per_token
                  BillingUsageEvidenceDoc:
                    type: object
                    properties:
                      effective_usage:
                        $ref: '#/$defs/NullableDoc9'
                      estimator:
                        $ref: '#/$defs/NullableDoc10'
                      raw_usage:
                        $ref: '#/$defs/NullableDoc8'
                      raw_usage_frames:
                        type: array
                        items:
                          $ref: '#/$defs/BillingRawUsageFrameDoc'
                      source:
                        $ref: '#/$defs/BillingUsageSourceDoc'
                    required:
                    - source
                    - raw_usage
                    - raw_usage_frames
                    - effective_usage
                    - estimator
                  BillingUsageSourceDoc:
                    type: string
                    enum:
                    - provider_reported
                    - provider_reported_deduplicated
                    - provider_reported_conservative
                    - estimated
                    - absent
                    - unverified_missing
                    - unverified_duplicate
                    - unverified_counter_mismatch
                    - unverified_malformed
                  NullableDoc:
                    description: |-
                      A JSON field that is always present on the wire but may contain `null`.
                      Using `Option<T>` directly makes schemars mark the property optional;
                      `#[schemars(required)]` makes it non-nullable. This transparent wrapper
                      models the actual serde behavior: required + nullable.
                    type:
                    - string
                    - 'null'
                  NullableDoc10:
                    description: |-
                      A JSON field that is always present on the wire but may contain `null`.
                      Using `Option<T>` directly makes schemars mark the property optional;
                      `#[schemars(required)]` makes it non-nullable. This transparent wrapper
                      models the actual serde behavior: required + nullable.
                    anyOf:
                    - $ref: '#/$defs/BillingUsageEstimatorSnapshotDoc'
                    - type: 'null'
                  NullableDoc11:
                    description: |-
                      A JSON field that is always present on the wire but may contain `null`.
                      Using `Option<T>` directly makes schemars mark the property optional;
                      `#[schemars(required)]` makes it non-nullable. This transparent wrapper
                      models the actual serde behavior: required + nullable.
                    anyOf:
                    - $ref: '#/$defs/BillingNormalizedRateDoc'
                    - type: 'null'
                  NullableDoc12:
                    description: |-
                      A JSON field that is always present on the wire but may contain `null`.
                      Using `Option<T>` directly makes schemars mark the property optional;
                      `#[schemars(required)]` makes it non-nullable. This transparent wrapper
                      models the actual serde behavior: required + nullable.
                    anyOf:
                    - $ref: '#/$defs/BillingIntegerDoc'
                    - type: 'null'
                  NullableDoc13:
                    description: |-
                      A JSON field that is always present on the wire but may contain `null`.
                      Using `Option<T>` directly makes schemars mark the property optional;
                      `#[schemars(required)]` makes it non-nullable. This transparent wrapper
                      models the actual serde behavior: required + nullable.
                    anyOf:
                    - $ref: '#/$defs/BillingDiscountSnapshotDoc'
                    - type: 'null'
                  NullableDoc2:
                    description: |-
                      A JSON field that is always present on the wire but may contain `null`.
                      Using `Option<T>` directly makes schemars mark the property optional;
                      `#[schemars(required)]` makes it non-nullable. This transparent wrapper
                      models the actual serde behavior: required + nullable.
                    type:
                    - integer
                    - 'null'
                    format: int64
                  NullableDoc3:
                    description: |-
                      A JSON field that is always present on the wire but may contain `null`.
                      Using `Option<T>` directly makes schemars mark the property optional;
                      `#[schemars(required)]` makes it non-nullable. This transparent wrapper
                      models the actual serde behavior: required + nullable.
                    type:
                    - array
                    - 'null'
                    items:
                      $ref: '#/$defs/BillingFallbackDoc'
                  NullableDoc4:
                    description: |-
                      A JSON field that is always present on the wire but may contain `null`.
                      Using `Option<T>` directly makes schemars mark the property optional;
                      `#[schemars(required)]` makes it non-nullable. This transparent wrapper
                      models the actual serde behavior: required + nullable.
                    anyOf:
                    - $ref: '#/$defs/RequestBillingAuditDoc'
[...]
